<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.ing.mapper.PrcsIngMapper">

	<!-- 진행 공정 조회 -->
	<select id="selectPrcsIngList" resultType="PrcsIngVO">
		SELECT prcs_ing_code,
			   prcs_dir_de_code,
			   prod_code,
			   find_prod_name(prod_code) AS prod_name,
			   prcs_code,
        	   find_prcs_name(prcs_code) AS prcs_name,
			   prcs_seq,
			   input_amt,
			   err_amt,
			   prcs_amt,
			   find_cdnm('0S', prcs_dir_ing_sts) AS prcs_dir_ing_sts
		  FROM prcs_ing
		 WHERE prcs_dir_de_code = #{prcsDirDeCode} 
		 	   AND prod_code = #{prodCode}
		 ORDER BY prcs_seq
	</select>
	
	
	<!-- 진행 공정 등록 -->
	<insert id="insertPrcsIng" parameterType="String">
		{
			CALL PR_PROD_BOM(
				#{prcsDirDeCode}
			)
		}
    </insert>
	
	<!-- 작업 시작 전 사용 가능한 설비 조회 (진행공정 모달) -->
	<select id="selectWaitEquipList" resultType="EquipVO">
		SELECT DISTINCT 
			   eq_code, 
			   eq_name, 
			   p.prcs_type, 
			   i.prcs_code
		  FROM eq_equip e JOIN prcs_manage p 
		  					ON e.prcs_type = p.prcs_type
                		  JOIN prcs_ing i
                		  	ON p.prcs_code = i.prcs_code
		 WHERE e.eq_sts='W' 
			   AND i.prcs_code = #{prcsCode}
	</select>
	
	<!-- 작업 시작 후 선택된 설비 조회 (진행공정 모달) -->
	<select id="selectEquip" resultType="EquipVO">
		SELECT eq_code,
			   find_eq_name(eq_code) AS eq_name
		  FROM prcs_list
		 WHERE prcs_dir_de_code = #{prcsDirDeCode}
    		   AND prcs_code = #{prcsCode}
	</select>
	
	<!-- 투입 자재별 소모량 조회 (진행공정 모달) -->
	<select id="selectMatBomList" resultType="PrcsIngVO">
		SELECT find_prod_name(prod_code) AS prod_name,
        	   find_prcs_name(prcs_code) AS prcs_name,
        	   mp_code,
      		   find_mat_name(mp_code) AS mat_name,
      		   bom_amt * #{prcsDirAmt} AS bom_amt
		  FROM v_mat_bom
		 WHERE prod_code= #{prodCode}
               AND prcs_code = #{prcsCode}
	</select>	   

	<!-- 작업시작 => 공정상태&설비 수정, 공정실적관리 등록 (진행공정 모달) -->
	<insert id="callPrcsStart" parameterType="Map">
		{
			CALL PR_PRCS_START(
				#{prcsDirDeCode},
				#{prcsCode},
				#{eqCode},
				#{empCode},
				#{prcsStartTime}
			)
		}
	</insert>
	
	<!-- 작업종료 => 공정상태&설비 수정, 공정실적관리 수정 (진행공정 모달) -->
	<insert id="callPrcsEnd" parameterType="Map">
		{
			CALL PR_PRCS_END(
				#{prcsDirDeCode},
				#{prcsCode},
				#{eqCode},
				#{errAmt},
				#{prcsEndTime}
			)
		}
	</insert>
 
	<!-- 데이터 입력된 경우, 공정 실적 관리 조회 (진행공정 모달)-->
	<select id="selectPrcsInfoList" resultType="PrcsIngVO">
		SELECT prcs_list_code,
			   prcs_dir_de_code,
			   prod_code,
			   prcs_code,
			   eq_code,
			   input_amt,
			   err_amt,
			   prcs_amt,
			   prcs_start_time,
			   prcs_end_time,
			   emp_code
		  FROM prcs_list
		 WHERE prcs_dir_de_code = #{prcsDirDeCode} 
		 	   AND prcs_code = #{prcsCode}
	</select>
	
	<!-- 작업시작 => 진행 공정 조회 (이전 공정 미완료 확인용 -> 미완료시 작업버튼 실행X) (진행공정 모달) -->
<!-- 	<select id="selectPrcsIngSts" resultType="PrcsIngVO"> -->
<!-- 		SELECT i.prcs_ing_code, -->
<!-- 			   i.prcs_dir_de_code, -->
<!-- 			   i.prod_code, -->
<!-- 			   find_prod_name(i.prod_code) AS prod_name, -->
<!-- 			   i.prcs_code, -->
<!--         	   find_prcs_name(i.prcs_code) AS prcs_name, -->
<!-- 			   i.prcs_seq, -->
<!-- 			   find_cdnm('0S', i.prcs_dir_ing_sts) AS prcs_dir_ing_sts, -->
<!--                m.semi_yn -->
<!-- 		  FROM prcs_ing i JOIN prcs_manage m ON i.prcs_code = m.prcs_code -->
<!--          WHERE prcs_dir_de_code = #{prcsDirDeCode} -->
<!-- 		 	   AND prod_code = #{prodCode} -->
<!-- 		 ORDER BY prcs_seq; -->
<!-- 	</select> -->
	<select id="selectPrcsIngSts" statementType="CALLABLE" parameterType="PrcsIngVO">
		{
			CALL PR_SELECT_ING_STS(
				#{prcsDirDeCode}
				, #{prodCode}
				, #{prcsCode}
				, #{result, mode=OUT, jdbcType=VARCHAR}
			)
		}
	</select>


	<!-- 공정 실적 조회 -->
	<select id="selectPrcsResultList" resultType="PrcsIngVO">
		SELECT l.prcs_list_code,
			   l.prcs_dir_de_code,
			   find_prod_name(l.prod_code) AS prod_name,
			   find_prcs_name(l.prcs_code) AS prcs_name,
			   find_eq_name(l.eq_code) AS eq_name,
			   l.input_amt,
			   l.err_amt,
			   l.prcs_amt,
			   l.prcs_start_time,
			   l.prcs_end_time,
			   l.emp_code,
			   d.prcs_dir_date
		  FROM prcs_list l JOIN prcs_dir_de dd 
		  					 ON l.prcs_dir_de_code = dd.prcs_dir_de_code
		  				   JOIN prcs_dir d 
		  				     ON dd.prcs_dir_code = d.prcs_dir_code
		<where>
			<if test="searchProdCode != null and !searchProdCode.equals('')">
					AND l.prod_code LIKE '%' || #{searchProdCode} || '%'
			</if>
			<if test="startDate != null and !startDate.equals('')">
				AND TO_CHAR(d.prcs_dir_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate != null and !endDate.equals('')">
				AND TO_CHAR(d.prcs_dir_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
			</if>
			
		</where>
		 ORDER BY prcs_list_code
	</select>
	
	
	


</mapper>