<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.ing.mapper.PrcsIngMapper">

	<!-- 진행 공정 조회 -->
	<select id="selectPrcsIngList" resultType="prcsIngVO">
		SELECT prcs_ing_code,
			   prcs_dir_de_code,
			   prod_code,
			   find_prod_name(prod_code) AS prod_name,
			   prcs_code,
        	   find_prcs_name(prcs_code) AS prcs_name,
			   prcs_seq,
			   input_amt,
			   err_amt,
			   prcs_amt,
			   find_cdnm('0T', prcs_dir_ing_sts) AS prcs_dir_ing_sts
		  FROM prcs_ing
		 WHERE prcs_dir_de_code = #{prcsDirDeCode} AND prod_code = #{prodCode}
		 ORDER BY prcs_seq
	</select>
	
	
	<!-- 진행 공정 등록 -->
	<insert id="insertPrcsIng" parameterType="String">
		{
			CALL PROD_BOM(
				#{prcsDirDeCode}
			)
		}
    </insert>
	
	<!-- 사용 가능한 설비 조회 (진행공정 모달) -->
	<select id="selectWaitEquipList" resultType="EquipVO">
		SELECT eq_code, 
			   eq_name, 
			   p.prcs_type, 
			   i.prcs_code
		  FROM eq_equip e JOIN prcs_manage p 
		  					ON e.prcs_type = p.prcs_type
                		  JOIN prcs_ing i
                		  	ON p.prcs_code = i.prcs_code
		 WHERE e.eq_sts='W' and i.prcs_code = #{prcsCode}
	</select>
	
	<!-- 투입 자재별 소모량 조회 (진행공정 모달) -->
	<select id="selectMatBomList" resultType="BomCodeVO">
		SELECT find_prod_name(prod_code) AS prod_name,
        	   find_prcs_name(prcs_code) AS prcs_name,
        	   mp_code,
      		   find_mat_name(mp_code) AS mat_name,
      		   bom_unit,
      		   bom_amt * #{prcsDirAmt} AS bom_amt
		  FROM v_prod_bom
		 WHERE prod_code= #{prodCode}
               AND prcs_code = #{prcsCode}
		   	   AND bom_yn='Y'
		       AND mp_kind='M'
	</select>
		   

</mapper>