<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.ing.mapper.PrcsIngMapper">
	<!-- 진행 공정 조회 -->
	<select id="selectPrcsIngList" resultType="prcsIngVO">
		SELECT prcs_ing_code,
			   prcs_dir_de_code,
			   prod_code,
			   prcs_code,
			   prcs_seq,
			   input_amt,
			   err_amt,
			   prcs_amt,
			   find_cdnm('0T', prcs_dir_ing_sts) AS prcs_dir_ing_sts
		  FROM prcs_ing
		 WHERE prcs_dir_de_code = #{prcsDirDeCode} AND prod_code = #{prodCode}
		 ORDER BY prcs_ing_code
	</select>
	
	<!-- 공정 실적 조회 -->
</mapper>