<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.sales.err.mapper.ErrMapper">
  <!-- 전체조회 -->
  <select id="selectErrList" resultType="ErrVO">
  	SELECT d.*, p.prod_name, e.emp_name
	FROM sales_dispose d JOIN com_prod p
	                     ON (d.prod_code = p.prod_code)
	                     JOIN com_emp e
	                     ON (d.emp_code = e.emp_code)
	ORDER BY sales_dp_code DESC
  </select>
  <!-- 등록 -->
  <insert id="insertErrDis" parameterType="ErrVO">
  	INSERT INTO sales_dispose(
			sales_dp_code
			, test_num
			, prod_code
			, sales_dp_amt
			, sales_dp_date
			, emp_code
		) VALUES (
			get_primaryCode('salesDpCode')
			, #{testNum}
			, #{prodCode}
			, #{salesDpAmt}
			, #{salesDpDate}
			, #{empCode}
		)
  </insert>
  <!-- 삭제 -->
  <delete id="deleteErrDis" parameterType="ErrVO">
  	DELETE FROM sales_dispose
	WHERE sales_dp_code = #{salesDpCode}
  </delete>
  <!-- 검색 -->
  <select id="selectAllOut" resultType="ErrVO">
  	SELECT d.*, p.prod_name, e.emp_name
	FROM sales_dispose d JOIN com_prod p
                     ON (d.prod_code = p.prod_code)
                     JOIN com_emp e
                     ON (d.emp_code = e.emp_code)
	<where>
	<if test="prodCode != null and prodCode != ''">
		AND d.prod_code LIKE '%' || #{prodCode} || '%'
	</if>
	<if test="startDate != null and startDate != ''">
      	AND TO_CHAR(d.sales_dp_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
   	</if>
   	<if test="endDate != null and endDate != ''">
   		AND TO_CHAR(d.sales_dp_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
   	</if>
	</where>
	ORDER BY sales_dp_code DESC
  </select>
  
  <!-- 모달검색 - 제품 -->
	<select id="selectProdSearchList" resultType="OrderVO">
	SELECT prod_code, prod_name, prod_unit, prod_std
	FROM com_prod
	<if test="prodName != null and !prodName.equals('')">
	WHERE prod_name LIKE '%' || #{prodName} || '%'
	</if>
	AND prod_kind = 'C'
	ORDER BY prod_code DESC
	</select>
	
	<!-- 그리드 모달 - 검수목록 -->
	<select id="ModalDisList" resultType="ErrVO">
	SELECT q.test_num, q.prod_code, q.test_date, q.test_amt, q.total_test_yn
	    , q.pass_amt, q.non_pass_amt, q.test_semi_yn, p.prod_name
	FROM prod_quality q JOIN com_prod p
	                    ON (q.prod_code = p.prod_code)
	                    LEFT JOIN sales_dispose d
	                    ON (q.test_num = d.test_num)
	WHERE total_test_yn = 'N'
	AND test_semi_yn = 'C'
	AND d.sales_dp_code IS NULL
	ORDER BY test_num DESC
	</select>
	
	<!-- 그리드 모달 - 제품목록 -->
	<select id="selectProdAllList" resultType="OutVO">
	SELECT prod_code, prod_name, prod_unit, prod_std
	FROM com_prod
	WHERE prod_kind = 'C'
	ORDER BY prod_code DESC
	</select>
	
	<!-- 모달검색 - 검수 -->
	<select id="ErrSearchList" resultType="ErrVO">
	SELECT q.test_num, q.prod_code, q.test_date, q.test_amt, q.total_test_yn
        , q.pass_amt, q.non_pass_amt, q.test_semi_yn, p.prod_name
	FROM prod_quality q JOIN com_prod p
                    	ON (q.prod_code = p.prod_code)
	<if test="prodName != null and !prodName.equals('')">
	WHERE p.prod_name LIKE '%' || #{prodName} || '%'
	</if>
	AND total_test_yn = 'N'
	AND test_semi_yn = 'C'
	ORDER BY test_num DESC
	</select>
  </mapper>