<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.sales.in.mapper.InMapper">
	<!-- 전체조회 -->
	<select id="selectInAllList" resultType="InVO">
		SELECT i.prod_lot prod_lot
				, p.prod_name prod_name
				, i.sales_in_date sales_in_date
				, i.sales_in_amt sales_in_amt
				, i.prod_save_amt prod_save_amt
				, i.sales_in_exd sales_in_exd
		FROM sales_in i JOIN com_prod p
						ON (i.prod_code = p.prod_code)
		ORDER BY prod_lot
	</select>

<!-- 검색 -->
  <select id="selectAllIn" resultType="InVO">
 		SELECT i.prod_lot
			, i.prod_code
			, i.sales_in_date
			, i.sales_in_amt
			, i.prod_save_amt
			, i.sales_in_exd
			, i.emp_code 
			, e.emp_name
			, o.sales_out_code
		FROM sales_in i JOIN com_emp e
						ON (i.emp_code = e.emp_code)
						JOIN sales_out o
						ON (i.prod_lot = o.prod_lot)
	<where>
			<if test="prodCode != null and prodCode != ''">
				AND prod_code LIKE '%' || #{prodCode} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
            	AND TO_CHAR(sales_in_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
         	</if>
         	<if test="endDate != null and endDate != ''">
           		AND TO_CHAR(sales_in_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
         	</if>
         	<if test="before==2">
				AND o.sales_out_code = null
			</if>
			<if test="comple==2">
				AND o.sales_out_code != null
			</if>
	</where>					
	ORDER BY prod_lot
	</select>
	
	<!-- 제품목록 -->
	<select id="selectProdAllList" resultType="InVO">
	SELECT prod_code, prod_name, prod_unit, prod_std
	FROM com_prod
	WHERE prod_kind = 'C'
	ORDER BY prod_code
	</select>
	
	<!-- 입고관리 그리드 -->
	<select id="inMngList" resultType="InVO">
	SELECT i.prod_lot
			, i.prod_code
			, i.sales_in_date
			, i.sales_in_amt
			, i.prod_save_amt
			, i.sales_in_exd
			, i.emp_code
			, e.emp_name
			, i.test_num
	FROM sales_in i JOIN com_emp e
					ON (i.emp_code = e.emp_code) 
	ORDER BY prod_lot
	</select>
	
	<!-- 검수완료된 완제품 목록  -->
	<select id="selectCProd" resultType="InVO">
		SELECT q.test_num, q.prod_code, c.prod_name, q.test_date, q.test_amt
				, n.prod_lot, n.sales_in_date, n.sales_in_amt, n.prod_save_amt, n.sales_in_exd
		FROM prod_quality q
        LEFT JOIN sales_in n
        ON (n.test_num = q.test_num)
        LEFT JOIN com_prod c
        ON (q.prod_code = c.prod_code)
		WHERE n.test_num IS NULL
		AND q.total_test_yn = 'Y'
		AND q.test_semi_yn = 'C'
		ORDER BY q.test_date
	</select>
	
	<!-- 등록 -->
	<insert id="insertProductIn" parameterType="InVO">
			INSERT INTO sales_in (
				prod_lot
				, prod_code
				, sales_in_date
				, sales_in_amt
				, prod_save_amt
				, sales_in_exd
				, emp_code
				, test_num
			) VALUES (
				get_primaryCode('prodLot')
				, #{prodCode}
				, #{salesInDate}
				, #{salesInAmt}
				, #{prodSaveAmt}
				, #{salesInExd}
				, #{empCode}
				, #{testNum}
			)
	</insert>
	
 	<!-- 수정 --> 
<!-- 	<update id="updateProductIn" parameterType="InVO"> -->
<!-- 			UPDATE sales_in -->
<!-- 			SET sales_in_date = #{salesInDate}, sales_in_exd = #{salesInExd} -->
<!-- 			WHERE prod_lot = #{prodLot} -->
<!-- 	</update> -->
	
	<!-- 삭제 -->
	<delete id="deleteProductIn" parameterType="InVO">
			DELETE FROM sales_in
			WHERE prod_lot = #{prodLot}
		
	</delete>
	
 	<!-- 하단 그리드 행삭제시 상단 그리드 데이터 올리기용 --> 
<!-- 	<select id="selectDeletedTest" resultType="InVO"> -->
<!-- 		SELECT a.mat_test_code, d.mat_name, d.mat_unit, d.mat_std, c.mat_code, f.act_code, e.act_name, a.mat_od_de_cd, a.mat_amt, mat_yamt, mat_namt, a.err_code, b.commde_info err_info, mat_test_date -->
<!-- 		FROM mat_test a  -->
<!-- 		LEFT JOIN com_commde b -->
<!-- 			ON(a.err_code = b.commde_code) -->
<!-- 			LEFT JOIN mat_order_de c -->
<!-- 			ON(a.mat_od_de_cd = c.mat_od_de_cd) -->
<!-- 	        LEFT JOIN com_mat d -->
<!-- 	        ON(c.mat_code = d.mat_code) -->
<!-- 	        LEFT JOIN mat_order f -->
<!-- 	        ON(c.mat_od_cd = f.mat_od_cd) -->
<!-- 	        LEFT JOIN com_act e -->
<!-- 	        ON(f.act_code = e.act_code) -->
<!-- 		WHERE a.mat_test_code = #{matTestCode} -->
<!-- 	</select> -->
</mapper>