<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.prod.mapper.PrcsProdMapper">

	<!-- 제품별공정 조회 -->
	<select id="selectPrcsProdList" resultType="PrcsProdVO">	 
		SELECT p.prcs_prod_code, 
			   p.prod_code, 
			   c.prod_name, 
			   p.prcs_code, 
			   m.prcs_name, 
			   p.prcs_seq
		  FROM prcs_prod p JOIN com_prod c 
			    	 		 ON p.prod_code = c.prod_code
    	  				   JOIN prcs_manage m 
    	  				     ON p.prcs_code = m.prcs_code
    	 WHERE p.prod_code = #{prodCode}
    	 ORDER BY prcs_seq
	</select>

	<!-- 제품 목록 조회 -->
	<select id="selectProdList" resultType="PrcsProdVO">
		SELECT prod_code, 
			   prod_name
		  FROM com_prod
		 WHERE prod_kind = 'C'
		 ORDER BY prod_code DESC
	</select>
	
	<!-- 제품별공정 등록 -->
	<insert id="insertPrcsProd" parameterType="PrcsProdVO">
		<selectKey keyProperty="prcsProdCode" resultType="String" order="BEFORE">
			SELECT 'PRPR-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_prod_code, -3)),0) + 1, 3, '0')
			FROM prcs_prod
			WHERE SUBSTR(prcs_prod_code, 6, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_prod (
									prcs_prod_code
									,prod_code
									, prcs_code
									, prcs_seq
							 	)
			 VALUES (
						#{prcsProdCode}
						, #{prodCode}
						, #{prcsCode}
						, #{prcsSeq}
					 )
	</insert>
	
	<!-- 제품별공정 수정 -->
	<update id="updatePrcsProd" parameterType="PrcsProdVO">
		UPDATE prcs_prod 
		<set>
			<if test="prcsCode != null and !prcsCode.equals('')">
				prcs_code = #{prcsCode},
			</if>
			<if test="prcsSeq != null and !prcsSeq.equals('')">
				prcs_seq = #{prcsSeq}
			</if>
		</set> 
	  	 WHERE prcs_prod_code = #{prcsProdCode}
	</update>

	<!-- 제품별공정 삭제 -->
	<delete id="deletePrcsProd" parameterType="PrcsProdVO">
		DELETE FROM prcs_prod
		 WHERE prcs_prod_code = #{prcsProdCode}
	</delete>
	
</mapper>