<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.prod.mapper.PrcsProdMapper">

	<!-- 제품별공정 조회 -->
	<select id="selectPrcsProdList" resultType="prcsProdVO">	 
		SELECT p.prcs_prod_code, 
			   p.prod_code, 
			   c.prod_name, 
			   p.prcs_code, 
			   m.prcs_name, 
			   p.prcs_seq
		  FROM prcs_prod p 
		  		JOIN com_prod c ON p.prod_code = c.prod_code
    	  		JOIN prcs_manage m ON p.prcs_code = m.prcs_code
    	 ORDER BY prcs_prod_code
	</select>
</mapper>