<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.sales.order.mapper.OrderMapper">
	<!-- 전체조회 -->
	<select id="selectOrderAllList" resultType="OrderVO">
		SELECT d.sales_ord_de_code sales_ord_de_code
		, o.ord_code	
		, o.ord_date ord_date
		, a.act_name act_name
		, o.ord_sts ord_sts
		, p.prod_name prod_name
		, d.prcs_rq_amt prcs_rq_amt
		, d.dev_date dev_date
		, d.dev_yn dev_yn
		, o.ord_code ord_code
		, e.emp_code emp_code
		FROM sales_ord o JOIN sales_ord_de d
		ON (o.ord_code = d.ord_code)
		LEFT JOIN com_prod p
		ON (d.prod_code = p.prod_code)
		LEFT JOIN com_act a
		ON (o.act_code = a.act_code)
		LEFT JOIN com_emp e
		ON (o.emp_code = e.emp_code)
		ORDER BY o.ord_code DESC
	</select>

	<!-- 검색 -->
	<select id="selectAllOrder" resultType="OrderVO">
		SELECT
		d.sales_ord_de_code
		, d.ord_code
		, p.prod_name
		, d.prcs_rq_amt
		, d.dev_date
		, o.ord_sts
		, e.emp_code
		, e.emp_name
		, d.dev_yn
		, o.ord_date
		, a.act_name
		, o.act_code
		, d.prod_code
		FROM sales_ord_de d JOIN com_prod p
		ON (d.prod_code = p.prod_code)
		JOIN sales_ord o
		ON (d.ord_code = o.ord_code)
		JOIN com_emp e
		ON (o.emp_code = e.emp_code)
		JOIN com_act a
		ON (o.act_code = a.act_code)
		<where>
			<if test="actCode != null and actCode != ''">
				AND a.act_code LIKE '%' || #{actCode} || '%'
			</if>
			<if test="prodCode != null and prodCode != ''">
				AND p.prod_code LIKE '%' || #{prodCode} || '%'
			</if>
			<!-- <if test="ordDate != null and ordDate != ''"> -->
			<!-- AND o.ord_date <![CDATA[>=]]> TO_DATE(#{ordDate}, 'YYYY-MM-DD') -->
			<!-- </if> -->
			<if test="startDate != null and startDate != ''">
				AND TO_CHAR(o.ord_date, 'YYYY-MM-DD') <![CDATA[>=]]>
				#{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
				AND TO_CHAR(o.ord_date, 'YYYY-MM-DD') <![CDATA[<=]]>
				#{endDate}
			</if>
			<if test="before==2">
				AND d.dev_yn != 'N'
			</if>
			<if test="comple==2">
				AND d.dev_yn != 'Y'
			</if>
		</where>
		ORDER BY d.dev_date, o.ord_code DESC
	</select>

	<!-- 거래처 목록 -->
	<select id="selectActAllList" resultType="OrderVO">
		SELECT act_code, act_name, find_cdnm('0J',act_sts) act_sts, find_cdnm('ACT-TYPE',act_kind) act_kind
		FROM com_act
		WHERE act_kind = 'ACT-TYPE1'
		AND ACT_STS = 'D1'
		ORDER BY act_code DESC

	</select>
	
	<!-- 거래처목록 검색 --> 
<!-- 	<select id="selectActSearchList" resultType="OrderVO"> -->
<!-- 		SELECT act_code, act_name, find_cdnm('0J',act_sts) act_sts, find_cdnm('ACT-TYPE',act_kind) act_kind -->
<!-- 		FROM com_act -->
<!-- 		<if test="actName != null and !actName.equals('')"> -->
<!-- 		WHERE act_name LIKE '%' || #{actName} || '%' -->
<!-- 		</if> -->
<!-- 		ORDER BY act_code -->
<!-- 	</select> -->
	
	<!-- 제품 목록 -->
	<select id="selectProdAllList" resultType="OrderVO">
		SELECT prod_code, prod_name, prod_unit, prod_std
		FROM com_prod
		WHERE prod_kind = 'C'
		ORDER BY prod_code DESC
	</select>
	
	<!-- 주문서 관리 - 미계획 주문서 목록 -->
	<select id="selectAllNoPlanList" resultType="OrderVO">
		SELECT
		d.sales_ord_de_code
		, d.ord_code
		, p.prod_name
		, d.prcs_rq_amt
		, d.dev_date
		, o.ord_sts
		, e.emp_code
		, e.emp_name
		, d.dev_yn
		, o.ord_date
		, a.act_name
		, o.act_code
		, d.prod_code
		FROM sales_ord_de d JOIN com_prod p
		ON (d.prod_code = p.prod_code)
		JOIN sales_ord o
		ON (d.ord_code = o.ord_code)
		JOIN com_emp e
		ON (o.emp_code = e.emp_code)
		JOIN com_act a
		ON (o.act_code = a.act_code)
		ORDER BY d.dev_date, o.ord_code DESC
	</select>

	<!-- 주문서 등록 -->
	<insert id="insertOrder" parameterType="OrderVO">
		<selectKey keyProperty="ordCode" resultType="String"
			order="BEFORE">
			SELECT 'ORD-' || TO_CHAR(sysdate, 'rrMMdd') ||
			LPAD(NVL(MAX(SUBSTR(ord_code, -3)),0) + 1, 3, '0')
			FROM sales_ord
			WHERE SUBSTR(ord_code, 5, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO
		sales_ord(
			ord_code
			, ord_date
			, act_code
			, emp_code
			, prcs_plan_code)
		VALUES(
			#{ordCode}
			,#{ordDate}
			,#{actCode}
			,#{empCode}
			,#{prcsPlanCode}
		)
		</insert>
		<insert id="insertOrderDe" parameterType="OrderVO">
		<selectKey keyProperty="ordCode" resultType="String"
			order="BEFORE">
			SELECT 'ORD-' || TO_CHAR(sysdate, 'rrMMdd') ||
			LPAD(NVL(MAX(SUBSTR(ord_code, -3)),0), 3, '0')
			FROM sales_ord
			WHERE SUBSTR(ord_code, 5, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
			INSERT INTO
				sales_ord_de(sales_ord_de_code,
				ord_code,
				prod_code,
				prcs_rq_amt,
				dev_date
				)
			VALUES
				(get_primaryCode('salesOrdDeCode'),
				#{ordCode},
				#{prodCode},
				#{prcsRqAmt},
				#{devDate}
				)
	</insert>

	<!-- 수정 -->
	<update id="updateOrder" parameterType="OrderVO">
			UPDATE sales_ord_de
			SET
			prcs_rq_amt = #{prcsRqAmt}
			, prod_code = #{prodCode}
			, dev_date = #{devDate}
			WHERE sales_ord_de_code = #{salesOrdDeCode}
	</update>

	<!-- 삭제 -->
	<delete id="deleteOrder" parameterType="OrderVO">
		DELETE FROM sales_ord
		WHERE ord_code IN (
		SELECT a.ord_code
		FROM sales_ord a LEFT JOIN sales_ord_de b
		ON(a.ord_code = b.ord_code)
		WHERE sales_ord_de_code IS NULL)
	</delete>
	<delete id="deleteOrderDe" parameterType="OrderVO">
			DELETE FROM sales_ord_de
			WHERE sales_ord_de_code = #{salesOrdDeCode}
	</delete>
	
 	<!-- 모달검색 - 제품 -->
<select id="selectProdSearchList" resultType="OrderVO">
	SELECT prod_code, prod_name, prod_unit, prod_std
	FROM com_prod
	<if test="prodName != null and !prodName.equals('')">
	WHERE prod_name LIKE '%' || #{prodName} || '%'
	</if>
	AND prod_kind = 'C'
	ORDER BY prod_code DESC
</select>

<!-- 모달검색 - 거래처 -->
<select id="selectActSearchList" resultType="OutVO">
	SELECT act_code, act_name, find_cdnm('0J',act_sts) act_sts, find_cdnm('ACT-TYPE',act_kind) act_kind
	FROM com_act
	<if test="actName != null and !actName.equals('')">
	WHERE act_name LIKE '%' || #{actName} || '%'
	</if>
	AND act_kind = 'ACT-TYPE1'
	ORDER BY act_code DESC
</select>
</mapper>