<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.sales.rt.mapper.RtMapper">
  <!-- 전체조회 -->
  <select id="selectRtAllList" resultType="RtVO">
	SELECT r.sales_rt_date sales_rt_date
			, p.prod_name prod_name
			, a.act_name act_name
			, o.sales_out_amt sales_out_amt
			, r.sales_rt_amt sales_rt_amt
			, (o.sales_out_amt <![CDATA[-]]> r.sales_rt_amt) as total
	FROM sales_rt r JOIN com_prod p
					ON (r.prod_code = p.prod_code)
					JOIN sales_out o
					ON (r.sales_out_code = o.sales_out_code)
					JOIN com_act a
					ON ( o.act_code = a.act_code)	
	ORDER BY sales_rt_code
  </select>
  
  </mapper>