<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.sales.rt.mapper.RtMapper">
  <!-- 전체조회 -->
  <select id="selectRtAllList" resultType="RtVO">
	SELECT r.sales_rt_date sales_rt_date
			, p.prod_name prod_name
			, a.act_name act_name
			, o.sales_out_amt sales_out_amt
			, r.sales_rt_amt sales_rt_amt
			, (o.sales_out_amt <![CDATA[-]]> r.sales_rt_amt) as total
	FROM sales_rt r JOIN com_prod p
					ON (r.prod_code = p.prod_code)
					JOIN sales_out o
					ON (r.sales_out_code = o.sales_out_code)
					JOIN com_act a
					ON ( o.act_code = a.act_code)	
	ORDER BY sales_rt_code
  </select>
  
  <!-- 제품 목록 -->
	<select id="selectProdAllList" resultType="RtVO">
	SELECT prod_code, prod_name, prod_unit, prod_std
	FROM com_prod
	WHERE prod_kind = 'C'
	ORDER BY prod_code DESC
	</select>
  	
  	<!-- 검색 -->
  <select id="selectAllRt" resultType="RtVO">
 SELECT r.sales_rt_date sales_rt_date
			, p.prod_name prod_name
			, a.act_name act_name
			, o.sales_out_amt sales_out_amt
			, r.sales_rt_amt sales_rt_amt
			, (o.sales_out_amt <![CDATA[-]]> r.sales_rt_amt) as total
	FROM sales_rt r JOIN com_prod p
					ON (r.prod_code = p.prod_code)
					JOIN sales_out o
					ON (r.sales_out_code = o.sales_out_code)
					JOIN com_act a
					ON ( o.act_code = a.act_code)
	<where>
			<if test="prodCode != null and prodCode != ''">
				AND p.prod_code LIKE '%' || #{prodCode} || '%'
			</if>
	</where>					
	ORDER BY sales_rt_code
	</select>
	
	<!-- 반품 등록 페이지 리스트 -->
	<select id="selectRtList" resultType="RtVO">
	SELECT sales_rt_code
			, prod_lot
			, prod_code
			, sales_out_code
			, sales_rt_amt
			, sales_rt_date
			, sales_rt_why
			, emp_code
	FROM sales_rt
	ORDER BY sales_rt_code
	</select>
	
	<!-- 등록 -->
	<insert id="insertRt" parameterType="RtVO">
	
	CALL insert_sales_rt
			 (
<!-- 				get_primaryCode('salesRtCode') -->
				 #{prodCode}
				, #{salesOutCode}
				, #{salesRtAmt}
				, #{salesRtDate}
				, #{salesRtWhy}
				, #{empCode}
				, #{prodLot}
			)
	</insert>
	
	<!-- 수정 -->
<!-- 	<update id="updateRt" parameterType="RtVO"> -->
<!-- 			UPDATE sales_rt -->
<!-- 			SET sales_in_date = #{salesInDate}, sales_in_exd = #{salesInExd} -->
<!-- 			WHERE prod_lot = #{podLot} -->
<!-- 	</update> -->
	
	<!-- 삭제 -->
	<delete id="deleteRt" parameterType="RtVO">
			CALL delete_sales_rt
			(#{salesRtCode)
		
	</delete>
	
	<!-- 출고목록조회 모달 -->
	<select id="selectOutList" resultType="OutVO">
	SELECT *
	FROM sales_out
	ORDER BY sales_out_code
	</select>
  </mapper>