<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.equip.mapper.EquipMapper">
  <!-- 설비 전체조회  -->
  <select id="selectEquipAllList" resultType="EquipVO"> 
  	SELECT *
  	FROM EQ_EQUIP
  	ORDER BY EQ_CODE
  </select>
  	
  <!-- 설비등록 -->
  <insert id="insertEquipInfo" parameterType="EquipVO">
  		<selectKey keyProperty="eqCode" resultType="String" order="BEFORE">
			SELECT 'EQ-' || LPAD(NVL(MAX(SUBSTR(EQ_CODE, -3)),0) + 1, 3, '0')
			FROM EQ_EQUIP
		</selectKey>
  		INSERT INTO EQ_EQUIP
  					(
  						EQ_CODE
  						,ACT_CODE
  						,EQ_NAME
  						,MODEL_NAME
  						,MAKE_DATE
  						,BUY_DATE
  						,CHK_CYCLE
  						,EQ_STS
  						,EQ_IMG
  						,EQ_TYPE
  						,HIGH_TEMP
  						,LOW_TEMP
  					)
  					VALUES
  					(
					#{eqCode}
					,#{actCode}
					,#{eqName}
					,#{modelName}
					,#{makeDate}
					,#{buyDate}
					,#{chkCycle}
					,#{eqSts}
					,#{eqImg}
					,#{eqType}
					,#{highTemp}
					,#{lowTemp}					
  					)
  </insert>
  
  <!--모달안에서의 설비 조회  -->
  <select id="EquipModalList" resultType="EquipVO"> 
  	SELECT *
  	FROM EQ_EQUIP
  	ORDER BY EQ_CODE
  </select>
  
  <!-- 단건조회 -->
  <select id="selectEquipInfo" resultType="EquipVO">
  	SELECT *
  	FROM EQ_EQUIP
  	WHERE EQ_CODE =#{eqCode}
  </select>
  
  <!-- 수정 -->
  <update id="updateEquip" parameterType="EquipVO">
  	UPDATE EQ_EQUIP
  	<set>
  		EQ_CODE =#{eqCode}
  		,ACT_CODE =#{actCode}
  		,EQ_NAME =#{eqName}
  		,MODEL_NAME =#{modelName}
  		,MAKE_DATE =#{makeDate}
  		,BUY_DATE =#{buyDate}
  		,CHK_CYCLE =#{chkCycle}
  		,EQ_STS =#{eqSts}
  		,EQ_IMG =#{eqImg}
  		,EQ_TYPE =#{eqType}
  		,HIGH_TEMP =#{highTemp}
  		,LOW_TEMP =#{lowTemp}
  		,PRCS_TYPE =#{prcsType}
  	</set>
  	WHERE EQ_CODE =#{eqCode}
  </update>
  
  <!-- 삭제   -->
  <delete id="deleteEquip" parameterType="String">
  	DELETE FROM EQ_EQUIP
  	WHERE EQ_CODE = #{eqCode}
  </delete>
  
  <!-- 설비검색 -->
   <select id="searchEquip" resultType="EquipVO">
  	  	SELECT  *
		FROM EQ_EQUIP
		WHERE EQ_NAME LIKE '%' || #{eqName} || '%'
	ORDER BY EQ_NAME
  </select>
  </mapper>