<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.equip.mapper.OffEquipMapper">
  	<!--비가동 설비 조회 -->
  	<select id="selectOffEquipAllList" resultType="OffEquipVO">
  		SELECT *
  		FROM EQ_OFF
  		ORDER BY OFF_NO
  	</select>
  </mapper>