<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.equip.mapper.OffEquipMapper">  
  	<!--비가동 설비 조회 -->
  	<select id="selectOffEquipAllList" resultType="OffEquipVO">
  		SELECT A.EQ_CODE, A.EQ_NAME, A.EQ_TYPE, A.EQ_STS, B.EQ_CODE, B.OFF_NO, B.OFF_TYPE, B.OFF_INFO, B.OFF_STIME, B.OFF_ETIME, B.OFF_NOTE, B.EMP_CODE
  		FROM EQ_EQUIP A JOIN EQ_OFF B
  			ON(A.EQ_CODE = B.EQ_CODE)
  		ORDER BY B.OFF_NO DESC
  	</select>
  	
  	<!--모달 안에서의 전체 설비 조회  -->
  	<select id="selectAllequip" resultType="OffEquipVO">
  		SELECT A.EQ_CODE, A.EQ_NAME, A.EQ_STS, B.*
  		FROM EQ_EQUIP A LEFT JOIN EQ_OFF B
  			ON(A.EQ_CODE = B.EQ_CODE)
  	</select>
  	
  	<!-- 단건으로 가져오기 -->
  	<select id="selectOffEquipInfo" resultType="OffEquipVO">
  		SELECT A.EQ_CODE, A.EQ_NAME, A.EQ_STS, B.*
  		FROM EQ_EQUIP A JOIN EQ_OFF B
  			ON(A.EQ_CODE = B.EQ_CODE)
  		WHERE B.EQ_CODE = #{eqCode}
  	</select>
  	
  	<!--비가동 설비 등록  -->
  	<insert id="insertOffEquip" parameterType="OffEquipVO">
  		INSERT INTO EQ_OFF
  					(
  					EQ_CODE,
  					OFF_NO,
  					OFF_TYPE,
  					OFF_INFO,
  					OFF_STIME
  					)
  					VALUES
  					(
  					#{eqCode}
  					,#{offNo}
  					,#{offType}
  					,#{offInfo}
					,#{offStime}
  					)
 	
  	</insert>
  </mapper>