<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.material.semi.in.mapper.SemiInMapper">
<!-- 전체조회 -->
	<select id="selectSemiInList" resultType="SemiInVO">
		SELECT a.semi_lot
			 , semi_use_yn(semi_lot) use_yn
			 , a.prod_code
			 , b.prod_name
			 , a.semi_in_amt
			 , a.emp_code
			 , a.prcs_ing_code
			 , c.emp_name
			 , a.semi_ind
			 , a.semi_exd 
		FROM semi_in a JOIN com_prod b
			ON(a.prod_code = b.prod_code)
				LEFT JOIN com_emp c
					ON(a.emp_code = c.emp_code)
		ORDER BY a.semi_ind
	</select>
	
	<!-- 전체조회 검색 -->
	<select id="selectSemiInSearch" resultType="SemiInVO">
		SELECT a.semi_lot
			 , semi_use_yn(semi_lot) use_yn
			 , a.prod_code
			 , b.prod_name
			 , a.semi_in_amt
			 , a.emp_code
			 , a.prcs_ing_code
			 , c.emp_name
			 , a.semi_ind
			 , a.semi_exd 
		FROM semi_in a JOIN com_prod b
			ON(a.prod_code = b.prod_code)
				LEFT JOIN com_emp c
					ON(a.emp_code = c.emp_code)
		<where>
			<if test="productCode != null and !productCode.equals('')">
				AND a.prod_code LIKE '%' || #{productCode} || '%'
			</if>
			<if test="startDate != null and !startDate.equals('')">
				AND TO_CHAR(a.semi_ind, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate != null and !endDate.equals('')">
				AND TO_CHAR(a.semi_ind, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
			</if>
			
			<choose>
	            <when test="checkList != null and checkList.size != 0">
	                and semi_use_yn(semi_lot) in 
	                <foreach collection="checkList" item="item" index="index" separator="," open="(" close=")">
	                    #{item}
	                </foreach>
	            </when>
        	</choose>	
		</where>
		ORDER BY a.semi_ind
	</select>
	
	<!-- 반제품 목록 모달 -->
	<select id="getSemiModal" resultType="SemiInVO">
		SELECT prod_code
			 , prod_name
		FROM com_prod
		WHERE prod_kind = 'S' 
		ORDER BY prod_code
	</select>
	
	<!-- 반제품 목록 모달 검색 -->
	<select id="getSemiModalSearch" resultType="SemiInVO">
		SELECT prod_code
			 , prod_name
		FROM com_prod
		WHERE prod_kind = 'S'
		<if test="matName != null and !matName.equals('')">
			AND prod_name LIKE '%' || #{prodName} || '%'
		</if>
		ORDER BY prod_code
	</select>
	
	<!-- 검수완료된 반제품 목록 -->
	<select id="selectTestFinishList" resultType="SemiInVO">
		SELECT a.prcs_ing_code
             , c.mp_code prod_code
			 , c.prod_name
			 , a.test_amt
			 , a.test_date
        FROM prod_quality a JOIN prcs_ing b ON (a.prcs_ing_code = b.prcs_ing_code)
                            JOIN v_semi_all c ON (b.prod_code = c.prod_code AND b.prcs_code = c.prcs_code)
                            LEFT JOIN semi_in d	ON (a.prcs_ing_code = d.prcs_ing_code)
        WHERE d.prcs_ing_code IS NULL
			AND a.total_test_yn = 'Y'
			AND a.test_semi_yn = 'S'
		ORDER BY a.test_date
	</select>
	
	<!-- 삭제 행 정보 -->
	<select id="selectDeleteRowsInfo" resultType="SemiInVO">
		SELECT a.prcs_ing_code
			 , a.prod_code
			 , c.prod_name
			 , a.test_amt
			 , a.test_date
		FROM prod_quality a
		LEFT JOIN com_prod c
			ON(a.prod_code = c.prod_code)
		WHERE a.prcs_ing_code = #{prcsIngCode}
	</select>
	<!-- 등록 -->
	<insert id="insertSemiIn" parameterType="SemiInVO">
			INSERT INTO semi_in (
				SEMI_LOT
				, PROD_CODE
				, SEMI_IN_AMT
				, SEMI_EXD
				, SEMI_IND
				, EMP_CODE
				, PRCS_ING_CODE
			) VALUES (
				get_primaryCode('semiLot')
				, #{prodCode}
				, #{semiInAmt}
				, #{semiExd}
				, #{semiInd}
				, #{empCode}
				, #{prcsIngCode}
			)
	</insert>
	<update id="prcsIngStsUpdateAtSemiIn" parameterType="SemiInVO">
		UPDATE prcs_ing
		SET prcs_dir_ing_sts = 'S5'
		WHERE prcs_ing_code = #{prcsIngCode}
	</update>
	<!-- 수정 -->
	<update id="updateSemiIn" parameterType="SemiInVO">
		UPDATE semi_in
		SET semi_ind = #{semiInd}, semi_exd = #{semiExd}
		WHERE semi_lot = #{semiLot}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteSemiIn" parameterType="SemiInVO">
		DELETE FROM semi_in
		WHERE semi_lot = #{semiLot}
	</delete>
</mapper>