<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.material.semi.in.mapper.SemiInMapper">
<!-- 전체조회 -->
	<select id="selectSemiInList" resultType="SemiInVO">
		SELECT a.semi_lot semi_lot, a.prod_code prod_code, b.prod_name prod_name, a.semi_in_amt semi_in_amt, a.emp_code, a.prcs_list_code, c.emp_name emp_name, a.semi_ind semi_ind, a.semi_exd semi_exd 
		FROM semi_in a JOIN com_prod b
			ON(a.prod_code = b.prod_code)
				LEFT JOIN com_emp c
					ON(a.emp_code = c.emp_code)
		ORDER BY a.semi_ind DESC
	</select>
	
	<!-- 전체조회 검색 -->
	<select id="selectSemiInSearch" resultType="SemiInVO">
		SELECT a.semi_lot semi_lot, a.prod_code prod_code, b.prod_name prod_name, a.semi_in_amt semi_in_amt, a.emp_code, a.prcs_list_code, c.emp_name emp_name, a.semi_ind semi_ind, a.semi_exd semi_exd 
		FROM semi_in a JOIN com_prod b
			ON(a.prod_code = b.prod_code)
				LEFT JOIN com_emp c
					ON(a.emp_code = c.emp_code)
		<where>
			<if test="productCode != null and productCode != ''">
				AND a.prod_code LIKE '%' || #{productCode} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
				AND a.semi_ind <![CDATA[>=]]> TO_DATE(#{startDate}, 'YYYY-MM-DD')
			</if>
			<if test="endDate != null and endDate != ''">
				AND a.semi_ind <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYY-MM-DD')
			</if>
		</where>
		ORDER BY a.semi_ind DESC
	</select>
	
	<!-- 반제품 목록 모달 -->
	<select id="getSemiModal" resultType="SemiInVO">
		SELECT prod_code, prod_name
		FROM com_prod
		WHERE prod_kind = 'S' 
		ORDER BY prod_code
	</select>
	
	<!-- 검수완료된 반제품 목록 -->
	<select id="selectTestFinishList" resultType="SemiInVO">
		SELECT a.prcs_list_code, a.prod_code, c.prod_name, a.test_amt, a.test_date
		FROM prod_quality a
		LEFT JOIN semi_in b
		ON(a.prcs_list_code = b.prcs_list_code)
		LEFT JOIN com_prod c
		ON(a.prod_code = c.prod_code)
		WHERE b.prcs_list_code IS NULL
		AND a.total_test_yn = 'Y'
		ORDER BY prcs_list_code
	</select>
	
	<!-- 등록 -->
	<update id="insertSemiIn" parameterType="SemiInVO">
			INSERT INTO semi_in (
				SEMI_LOT,
				PROD_CODE,
				SEMI_IN_AMT,
				SEMI_EXD,
				SEMI_IND,
				EMP_CODE,
				PRCS_LIST_CODE
			) VALUES (
				get_primaryCode('semiLot')
				, #{prodCode}
				, #{semiInAmt}
				, #{semiExd}
				, #{semiInd}
				, #{empCode}
				, #{prcsListCode}
			)
	</update>
	
	<!-- 수정 -->
	<update id="updateSemiIn" parameterType="SemiInVO">
			UPDATE semi_in
			SET semi_ind = #{semiInd}, semi_exd = #{semiExd}
			WHERE semi_lot = #{semiLot}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteSemiIn" parameterType="SemiInVO">
	
			DELETE FROM semi_in
			WHERE semi_lot = #{semiLot}

	</delete>
</mapper>