<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.quality.semi.mapper.SemiChkMapper">
  	<!-- 공정 진행중 조회 -->
  	<select id="selectPrcsIng" resultType="SemiChkVO">
  		SELECT A.TEST_NUM
  			   ,B.PRCS_ING_CODE
  			   ,B.PRCS_CODE
  			   ,B.PRCS_AMT
  			   ,A.PASS_AMT
  			   ,A.NON_PASS_AMT
  			   ,c.semi_yn 
		FROM prod_quality a 
		
		JOIN prcs_ing b
		  ON (a.prcs_ing_code = b.prcs_ing_code)
		  
		JOIN prcs_manage c
		  ON (b.prcs_code = c.prcs_code)
		  
		WHERE b.prcs_dir_ing_sts = 'S3' 
		  and c.semi_yn = 'Y'
		  
		ORDER BY prcs_ing_code
  	</select>
  
  	<!-- 검사 실시 리스트(클릭 상세)  -->
	<select id="selectSemiChkList" resultType="SemiChkVO">
  		SELECT A.TEST_NUM
  			   ,A.PRCS_ING_CODE
  			   ,A.TEST_NUM
  			   ,B.TEST_NUM_INFO
  			   ,B.TEST_CODE
  			   ,B.PASS_VALUE
  			   ,B.TEST_RESULT
  			   ,B.PASS_YN
  			   ,B.EMP_CODE
  			   ,FIND_CDNM('TEST-TYPE', TEST_CODE) AS TEST_NAME
  		FROM prod_quality A
  		JOIN prod_quality_info B
  			ON(a.test_num = b.test_num)
  		WHERE a.test_num =#{testNum}		
  	</select>
  	
  	<!-- 반제품 품질 등록(수정) -->
  	<update id="SemiChkUpdate" parameterType="SemiChkVO">
  		UPDATE prod_quality_info SET
  				TEST_RESULT = #{testResult}
  				,PASS_YN = #{passYn}
  				,EMP_CODE =#{empCode}
  		WHERE test_num_info =#{testNumInfo}
  	</update>
  	
  </mapper>