<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.quality.semi.mapper.SemiChkMapper">
  	<!-- 공정 진행중 조회 -->
  	<select id="selectPrcsIng" resultType="SemiChkVO">
  		SELECT a.test_num, 
  				a.test_date, 
  				a.prcs_ing_code, 
  				b.prcs_code, 
  				c.prod_name, 
  				b.prcs_amt, 
  				a.pass_amt, 
  				a.non_pass_amt
        FROM prod_quality a JOIN prcs_ing b ON a.prcs_ing_code = b.prcs_ing_code
                            JOIN v_semi_all c ON b.prod_code = c.prod_code 
                            					AND b.prcs_code = c.prcs_code
                            
		WHERE a.test_date IS NULL	  
		ORDER BY TEST_DATE DESC
  	</select>
  
  <!-- 조회 페이지 : 모든 공정 진행 중 조회  -->
  <select id="selectAllPrcsIng" resultType="SemiChkVO">
  		SELECT a.test_num, 
  				a.test_date, 
  				a.prcs_ing_code, 
  				b.prcs_code, 
  				c.prod_name, 
  				b.prcs_amt, 
  				a.pass_amt, 
  				a.non_pass_amt
        FROM prod_quality a JOIN prcs_ing b ON a.prcs_ing_code = b.prcs_ing_code
                            JOIN v_semi_all c ON b.prod_code = c.prod_code 
                            					AND b.prcs_code = c.prcs_code
                            
		WHERE a.test_date IS NOT NULL	  
		ORDER BY TEST_DATE DESC
	</select>
	
  	<!-- 검사 실시 리스트(클릭 상세)  -->
	<select id="selectSemiChkList" resultType="SemiChkVO">
  		SELECT A.TEST_NUM
  			   ,A.PRCS_ING_CODE
  			   ,B.TEST_NUM_INFO
  			   ,B.TEST_CODE
  			   ,B.PASS_VALUE
  			   ,B.TEST_RESULT
  			   ,B.PASS_YN
  			   ,B.EMP_CODE
  			   ,FIND_CDNM('0O', PASS_YN) AS PASS_YN2
  			   ,FIND_EMP_NAME(EMP_CODE) AS EMP_NAME
  			   ,FIND_CDNM('TEST-TYPE', TEST_CODE) AS TEST_NAME
  		FROM prod_quality A
  		JOIN prod_quality_info B
  			ON(a.test_num = b.test_num)
  		WHERE a.test_num =#{testNum}		
  	</select>
  	
  	<!-- 반제품 품질 등록(수정) -->
  	<update id="SemiChkUpdate" parameterType="SemiChkVO">
  		UPDATE prod_quality_info SET
  				TEST_RESULT = #{testResult}
  				,PASS_YN = #{passYn}
  				,EMP_CODE =#{empCode}
  		WHERE test_num_info =#{testNumInfo}
  	</update>
  	
  	<!-- 반제품 등록(수정) 프로시저 호출 -->
  	<update id="SemiChkUpdatePr" parameterType="SemiChkVO">
  		{
  		CALL UPDATE_SEMI_TEST_INFO(
			#{testNum}
  			,#{prcsIngCode}
  			)
  		}
   
  	</update>
  	
  	<!-- 검사번호 검색 -->
   <select id="searchSemiChk" resultType="SemiChkVO">
   		SELECT A.TEST_NUM
  			   ,A.TEST_DATE
  			   ,B.PRCS_ING_CODE
  			   ,B.PRCS_CODE
  			   ,B.PRCS_AMT
  			   ,A.PASS_AMT
  			   ,A.NON_PASS_AMT
  			   ,c.semi_yn 
  			   
		FROM prod_quality a 

		JOIN prcs_ing b
		  ON (a.prcs_ing_code = b.prcs_ing_code)
		  
		JOIN prcs_manage c
		  ON (b.prcs_code = c.prcs_code)
		  
		WHERE c.semi_yn = 'Y'
		AND test_date IS NOT NULL
		AND LOWER(A.TEST_NUM) LIKE '%' || LOWER(#{testNum}) || '%'
		ORDER BY TEST_DATE DESC
   
   
   </select>
  </mapper>