<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.material.stock.mapper.MatStockMapper">
	<!-- 전체조회 -->
	<select id="selectMatStockList" resultType="MatStockVO">
		SELECT a.mat_code mat_code, a.amt1 <![CDATA[-]]> NVL(b.amt2,0) total_stock, c.mat_name mat_name, c.mat_std mat_std, c.mat_unit, c.mat_safe mat_safe
		FROM (SELECT SUM(mat_in_amt) amt1, mat_code FROM mat_in GROUP BY mat_code) a
			LEFT JOIN (SELECT SUM(mat_out_amt) amt2, mat_code FROM mat_out GROUP BY mat_code) b
		ON(a.mat_code = b.mat_code)
			LEFT JOIN com_mat c
		ON (a.mat_code = c.mat_code)
		<where>
			<if test="materialCode != null and materialCode != ''">
				AND a.mat_code LIKE '%' || #{materialCode} || '%'
			</if>
		</where>
		ORDER BY a.mat_code
	</select>

</mapper>