<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.act.mapper.ActCodeMapper">
  
  	<!-- 전체 거래처조회 -->
  	<select id="selectActCodeList" resultType="ActCodeVO">
  		SELECT  a.act_code,
				a.act_name,
				a.act_num,
				a.act_tel,
				a.act_sts,
				c.commde_name,
				e.emp_name
		FROM com_act a LEFT JOIN com_commde c
								 ON(a.act_kind = c.commde_code)
                       LEFT JOIN com_emp e
                                 ON(a.emp_code=e.emp_code)
  	</select>
  	
  	<!-- 거래처명 검색 조회 -->
  	<select id="searchSelectActCode" resultType="ActCodeVO">
  		SELECT  a.act_code,
				a.act_name,
				a.act_num,
				a.act_tel,
				a.act_sts,
				c.commde_name,
				e.emp_name
		FROM com_act a LEFT JOIN com_commde c
								 ON(a.act_kind = c.commde_code)
                       LEFT JOIN com_emp e
                                 ON(a.emp_code=e.emp_code)
        WHERE a.act_name LIKE '%' || #{actName} || '%'
  	</select>
  	
  	<insert id="deleteActInfo" parameterType="ActCodeVO">
  		<selectKey keyProperty="actCode" resultType="int" order="BEFORE">
  			SELECT 'ACT-' || LPAD((NVL(MAX(SUBSTR(ACT_CODE, -4)),0)+1),4,'0')
			FROM COM_ACT;
  		</selectKey>
  		INSERT INTO com_act
  							(
  							act_code
							,act_name
							,act_num
							,act_tel
							,act_sts
							,act_kind
							<if test="empCode != null and !empCode.equals('')">
							,emp_code
							</if>
  							)
  		VALUES
  				(
  				#{actCode}
  				,#{actName}
  				,#{actNum}
  				,#{actTel}
  				,'D1'
  				,#{actKind}
  				<if test="empCode != null and !empCode.equals('')">
  				,#{empCode}
  				</if>
  				)
  	</insert>
  </mapper>