<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.act.mapper.ActCodeMapper">
  
  	<!-- 전체 거래처조회 -->
  	<select id="selectActCodeList" resultType="ActCodeVO">
   		 SELECT act_code,
				act_name,
				act_num,
				act_tel,
				act_sts,
				act_kind,
				find_cdnm('ACT-TYPE', act_kind) AS kind,
				find_cdnm('0J', act_sts) AS sts
		FROM com_act
       ORDER BY act_code
  	</select>
  	
  	<!-- 거래처명 검색 조회 -->
  	<select id="searchSelectActCode" resultType="ActCodeVO">
  		SELECT act_code,
				act_name,
				act_num,
				act_tel,
				act_sts,
				act_kind,
				find_cdnm('ACT-TYPE', act_kind) AS kind,
				find_cdnm('0J', act_sts) AS sts
		FROM com_act
        WHERE a.act_name LIKE '%' || #{actName} || '%'
        ORDER BY act_code
  	</select>
  	
  	<insert id="insertActInfo" parameterType="ActCodeVO">
  		<selectKey keyProperty="actCode" resultType="String" order="BEFORE">
  			SELECT 'ACT-' || LPAD((NVL(MAX(SUBSTR(act_code, -4)),0)+1),4,'0')
			FROM com_act
  		</selectKey>
  		INSERT INTO com_act
  							(
  							 act_code
							,act_name
							,act_num
							,act_tel
							,act_sts
							,act_kind
  							)
  		VALUES
  				(
  				#{actCode}
  				,#{actName}
  				,#{actNum}
  				,#{actTel}
  				,#{actSts}
  				,#{actKind}
  				)
  	</insert>
  	
  	<!-- 거래처 수정 -->
  	<update id="updateActInfo" parameterType="ActCodeVO">
  		UPDATE com_act SET
  				 act_name = #{actName}
				,act_num = #{actNum}
				,act_tel = #{actTel}
				,act_sts = #{actSts}
				,act_kind = #{actKind}
		WHERE act_code = #{actCode}
	</update>


<!-- 	<delete id="deleteActInfo" parameterType="ActCodeVO">
	
	<foreach collection="checkedAct" item="d" index="index" open=""  close="" separator=";">
	DELETE FROM com_act
	WHERE act_code = #{d.actCode}
	</foreach>
	
	</delete> -->
	
	<delete id="deleteActInfo" parameterType="ActCodeVO">
	
	DELETE FROM com_act
	WHERE act_code = #{actCode}
	
	</delete>
  </mapper>