<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.act.mapper.ActCodeMapper">
  
  	<!-- 전체 거래처조회 -->
  	<select id="selectActCodeList" resultType="ActCodeVO">
    SELECT  a.act_code,
				a.act_name,
				a.act_num,
				a.act_tel,
				a.act_sts,
				a.act_kind,
				c.commde_name kind,
				a.emp_code,
				e.emp_name,
				o.commde_name sts
		FROM com_act a LEFT JOIN com_commde c
								 ON(a.act_kind = c.commde_code)
                       LEFT JOIN com_emp e
                                 ON(a.emp_code=e.emp_code)
                       LEFT JOIN com_commde o
                       			 ON(a.act_sts = o.commde_code)
       ORDER BY act_code
  	</select>
  	
  	<!-- 거래처명 검색 조회 -->
  	<select id="searchSelectActCode" resultType="ActCodeVO">
  		SELECT  a.act_code,
				a.act_name,
				a.act_num,
				a.act_tel,
				a.act_sts,
				c.commde_name,
				e.emp_name
		FROM com_act a LEFT JOIN com_commde c
								 ON(a.act_kind = c.commde_code)
                       LEFT JOIN com_emp e
                                 ON(a.emp_code=e.emp_code)
        WHERE a.act_name LIKE '%' || #{actName} || '%'
        ORDER BY act_code
  	</select>
  	
  	<insert id="insertActInfo" parameterType="ActCodeVO">
  		<selectKey keyProperty="actCode" resultType="String" order="BEFORE">
  			SELECT 'ACT-' || LPAD((NVL(MAX(SUBSTR(ACT_CODE, -4)),0)+1),4,'0')
			FROM COM_ACT
  		</selectKey>
  		INSERT INTO com_act
  							(
  							act_code
							,act_name
							,act_num
							,act_tel
							,act_sts
							,act_kind
							,emp_code
  							)
  		VALUES
  				(
  				#{actCode}
  				,#{actName}
  				,#{actNum}
  				,#{actTel}
  				,#{actSts}
  				,#{actKind}
  				,#{empCode}
  				)
  	</insert>
  	
  	<!-- 거래처 수정 -->
  	<update id="updateActInfo" parameterType="ActCodeVO">
  		update com_act set
  				 act_name = #{actName}
				,act_num = #{actNum}
				,act_tel = #{actTel}
				,act_sts = #{actSts}
				,act_kind = #{actKind}
				,emp_code = #{empCode}
		where act_code = #{actCode}
	</update>


<!-- 	<delete id="deleteActInfo" parameterType="ActCodeVO">
	
	<foreach collection="checkedAct" item="d" index="index" open=""  close="" separator=";">
	DELETE FROM com_act
	WHERE act_code = #{d.actCode}
	</foreach>
	
	</delete> -->
	
	<delete id="deleteActInfo" parameterType="ActCodeVO">
	
	DELETE FROM com_act
	WHERE act_code = #{actCode}
	
	</delete>
  </mapper>