<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.app.prcs.manage.mapper.PrcsManageMapper">

	<!-- 공정관리 조회 -->
	<select id="selectPrcsManageList" resultType="PrcsManageVO">
		SELECT prcs_code,
			   prcs_type,
			   find_cdnm('PRCS-TYPE', prcs_type) AS prcs_type_kr,
			   prcs_name,
			   semi_yn,
			   find_cdnm('0U', semi_yn) AS semi_yn_kr
		  FROM prcs_manage
		 ORDER BY prcs_code DESC
	</select>
	
	
	<!-- 공정관리 등록 -->
	<insert id="insertPrcsManage" parameterType="PrcsManageVO">
		<selectKey keyProperty="prcsCode" resultType="String" order="BEFORE">
			SELECT 'PRCS-' || LPAD((NVL(MAX(SUBSTR(prcs_code, -4)),0)+1),4,'0')
			FROM prcs_manage
		</selectKey>
		INSERT INTO prcs_manage (
									prcs_code
									, prcs_type
									, prcs_name
									, semi_yn
							 	)
			 VALUES (
						#{prcsCode}
						, #{prcsType}
						, #{prcsName}
						, #{semiYn}
					 )
	</insert>
	
	<!-- 공정관리 수정 -->
	<update id="updatePrcsManage" parameterType="PrcsManageVO">
		UPDATE prcs_manage 
		<set>
			<if test="prcsType != null and !prcsType.equals('')">
				prcs_type = #{prcsType},
			</if>
			<if test="prcsName != null and !prcsName.equals('')">
				prcs_name = #{prcsName},
			</if>
			<if test="semiYn != null and !semiYn.equals('')">
				semi_yn = #{semiYn}
			</if>
		</set> 
	  	 WHERE prcs_code = #{prcsCode}
	</update>

	<!-- 공정관리 삭제 -->
	<delete id="deletePrcsManage" parameterType="PrcsManageVO">
		DELETE FROM prcs_manage
		 WHERE prcs_code = #{prcsCode}
	</delete>

</mapper>