<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.prcs.dir.mapper.PrcsDirMapper">
	<!-- 생산지시 조회 -->
	<select id="selectPrcsDirList" resultType="prcsDirVO">
		SELECT prcs_dir_code,
			   prcs_plan_code,
			   prcs_dir_name,
			   prcs_dir_date,
			   prcs_start_date,
			   prcs_end_date,
			   prcs_dir_sts,
			   emp_code
		  FROM prcs_dir
		 ORDER BY prcs_dir_code
	</select>
	
	<!-- 상세생산지시 조회 -->
	<select id="selectPrcsDirDeList" resultType="prcsDirVO">
		SELECT prcs_dir_de_code,
			   prcs_dir_code,
			   prod_code,
			   prcs_plan_amt,
			   prcs_dir_amt,
			   prcs_start_de_date,
			   prcs_end_de_date,
			   prcs_ing_sts,
			   emp_code
		  FROM prcs_dir_de
		 WHERE prcs_dir_code = #{prcsDirCode}
		 ORDER BY prcs_dir_de_code
	</select>
</mapper>