<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.prcs.dir.mapper.PrcsDirMapper">
	<!-- 생산지시 조회 (아직 생산 완료 되지 않은 지시)-->
	<select id="selectPrcsDirList" resultType="PrcsDirVO">
		SELECT prcs_dir_code,
			   prcs_plan_code,
			   prcs_dir_name,
			   prcs_dir_date,
			   prcs_start_date,
			   prcs_end_date,
			   find_cdnm('0R', prcs_dir_sts) AS prcs_dir_sts,
			   emp_code,
			   find_emp_name(emp_code) AS emp_name
		  FROM prcs_dir
		 <where>
		 		prcs_dir_sts IN ('P1','P2')
			<if test="startDate != null and !startDate.equals('')">
				AND TO_CHAR(prcs_start_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate != null and !endDate.equals('')">
				AND TO_CHAR(prcs_start_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
			</if>
		</where>
		 ORDER BY prcs_dir_code DESC
	</select>
	
	<!-- 상세생산지시 조회 -->
	<select id="selectPrcsDirDeList" resultType="PrcsDirVO">
		SELECT prcs_dir_de_code,
			   prcs_dir_code,
			   prod_code,
			   find_prod_name(prod_code) AS prod_name,
			   prcs_plan_amt,
			   prcs_dir_amt,
			   prcs_start_de_date,
			   prcs_end_de_date,
			   find_cdnm('0S', prcs_ing_sts) AS prcs_ing_sts,
			   emp_code,
			   find_emp_name(emp_code) AS emp_name,
			   re_dir_ck
		  FROM prcs_dir_de
		 WHERE prcs_dir_code = #{prcsDirCode}
		 ORDER BY prcs_dir_de_code
	</select>
	
 	<!-- 생산지시 등록 --> 
	<insert id="insertPrcsDir" parameterType="PrcsDirVO">
		<selectKey keyProperty="prcsDirCode" resultType="String" order="BEFORE">
			SELECT 'DIR-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_dir_code, -3)),0) + 1, 3, '0')
			FROM prcs_dir
			WHERE SUBSTR(prcs_dir_code, 5, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_dir (
								prcs_dir_code
								, prcs_plan_code
								, prcs_dir_name
								, prcs_start_date
								<if test="prcsEndDate != null">
								, prcs_end_date
								</if>
								, emp_code
							  )
			 VALUES (
						#{prcsDirCode}
						, #{prcsPlanCode}
						, #{prcsDirName}
						, #{prcsStartDate}
						<if test="prcsEndDate != null">
						, #{prcsEndDate}
						</if>
						, #{empCode}
					 )
	</insert>
	
	<!-- 상세생산지시 등록  -->
	<insert id="insertPrcsDirDe" parameterType="PrcsDirVO">
		<selectKey keyProperty="prcsDirDeCode" resultType="String" order="BEFORE">
			SELECT 'DIRDE-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_dir_de_code, -3)),0) + 1, 3, '0')
			FROM prcs_dir_de
			WHERE SUBSTR(prcs_dir_de_code, 7, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_dir_de (
								prcs_dir_de_code
								, prcs_dir_code
							    , prod_code
							    <if test="prcsPlanAmt > 0">
							    , prcs_plan_amt
							    </if>
							    , prcs_dir_amt
							    , prcs_start_de_date	 
							    , emp_code
							  )
			 VALUES (
						#{prcsDirDeCode}
						, #{prcsDirCode}
						, #{prodCode}
						<if test="prcsPlanAmt > 0">
						, #{prcsPlanAmt}
						</if>
						, #{prcsDirAmt}
						, #{prcsStartDeDate}
						, #{empCode}
					 )
	</insert>
	
	
	<!-- 미지시 생산계획 목록 조회 -->
	<select id="selectNotDirPlanList" resultType="PrcsPlanVO">
		SELECT DISTINCT 
			   p.prcs_plan_code, 
			   p.prcs_plan_name,
			   p.prcs_plan_date, 
			   p.prcs_start_date,
			   find_cdnm('0Z', d.prcs_prio) AS prcs_prio
		  FROM prcs_plan p JOIN prcs_plan_de d
                             ON p.prcs_plan_code = d.prcs_plan_code
         WHERE d.prcs_dir_sts = 'T1'
         ORDER BY p.prcs_plan_code DESC
	</select>
	
	<!-- 미지시 상세생산계획 목록 조회 -->
	<select id="selectNotDirPlanDeList" resultType="PrcsPlanVO">
        SELECT d.prcs_plan_de_code,
               d.prod_code,
               find_prod_name(d.prod_code) AS prod_name,
               d.prcs_plan_amt
		  FROM prcs_plan p JOIN prcs_plan_de d
                             ON p.prcs_plan_code = d.prcs_plan_code
         WHERE d.prcs_plan_code = #{prcsPlanCode} AND d.prcs_dir_sts = 'T1' 
         ORDER BY p.prcs_plan_code DESC
	</select>
		
	<!-- 생산지시 등록시 상세생산계획 수정 -->
	<update id="updateNotDirPlanList" parameterType="PrcsPlanVO">
		UPDATE prcs_plan_de
		   SET prcs_dir_sts = 'T2'
		 WHERE prcs_plan_de_code = #{prcsPlanDeCode}
	</update>
	
	<!-- 생산지시 등록시 자재 출고 -->
	<insert id="insertMatOut" parameterType="Map">
		{
			CALL PR_MAT_OUT(
				#{prcsDirDeCode},
				#{empCode}
			)
		}
	</insert>
	
	
	<!-- 제품별 총 자재 BOM 조회 -->
	<select id="selectBomList" resultType="BomCodeVO">
		SELECT DISTINCT find_prod_name(v.prod_code) AS prod_name,
			   find_prcs_name(v.prcs_code) AS prcs_name,
			   mp_code,
			   find_mat_name(v.mp_code) AS mat_name, 
			   v.bom_amt * #{prcsDirAmt} AS bom_amt, 
			   p.prcs_seq
		  FROM v_mat_bom v RIGHT JOIN prcs_prod p ON v.prcs_code = p.prcs_code
		 WHERE v.prod_code = #{prodCode}
		 ORDER BY prcs_seq
	</select>


	<!-- 진행공정 모두 공정완료시 생산지시 수정 -->
	<update id="updateDirPrcsSts" parameterType="String">
		{
			CALL PR_UPDATE_DIR_STS(
				#{prcsDirCode}
			)
		}
	</update>
	
	
	<!-- 재지시 등록 (상세생산지시)  -->
	<insert id="insertReDirDe" parameterType="PrcsDirVO">
		<selectKey keyProperty="prcsDirDeCode" resultType="String" order="BEFORE">
			SELECT 'DIRDE-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_dir_de_code, -3)),0) + 1, 3, '0')
			FROM prcs_dir_de
			WHERE SUBSTR(prcs_dir_de_code, 7, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_dir_de (
								prcs_dir_de_code
								, prcs_dir_code
							    , prod_code
							    , prcs_plan_amt
							    , prcs_dir_amt
							    , prcs_start_de_date	 
							    , emp_code
							  )
			 VALUES (
						#{prcsDirDeCode}
						, #{prcsDirCode}
						, #{prodCode}
						, #{prcsPlanAmt}
						, #{prcsDirAmt}
						, sysdate
						, #{empCode}
					 )
	</insert>
	
	<!-- 재지시 등록시 해당 상세생산지시 재지시여부 'Y'로 수정 -->
	<update id="updateReDirDe" parameterType="PrcsDirVO">
		UPDATE prcs_dir_de
		SET re_dir_ck = 'Y'
		WHERE prcs_dir_de_code = #{prcsDirDeCode}
	</update>
</mapper>