<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.comm.mapper.CommCodeMapper">
  	
  	<!-- 공통코드 전체 조회 -->
  	<select id="selectCommCodeList" resultType="CommCodeVO">
  			SELECT  comm_code,
					comm_name,
					comm_info
			FROM com_comm
		ORDER BY comm_code
  	</select>
  	
  	<!-- 상세공통코드 조회 -->
  	<select id="selectCommDeCodeList" resultType="CommCodeVO">
  		SELECT  commde_no,
  				commde_code,
				comm_code,
				commde_name,
				commde_info,
				commde_use
		FROM com_commde
		WHERE comm_code = #{commCode}
	ORDER BY commde_code
  	</select>
  	
  	<!-- 공통코드 검색 -->
  	<select id="searchCommCode" resultType="CommCodeVO">
		  			SELECT  comm_code,
							comm_name,
							comm_info
					FROM com_comm
					WHERE comm_code LIKE '%' || #{commCode} || '%'
				ORDER BY comm_code
  	</select>
  	
  	
  	<update id="commDeCodeUpdate" parameterType="CommCodeVO">
  	UPDATE com_commde SET
	  							commde_code = #{commdeCode},
								commde_name = #{commdeName},
								commde_info = #{commdeInfo},
								commde_use = #{commdeUse}
			WHERE commde_no = #{commDeNo}
  	</update>
  	
  	<insert id="commDeCodeInsert" parameterType="CommCodeVO">
  	INSERT INTO com_commde
	  								(
	  								commde_no
	  								,commde_code
									,comm_code
									,commde_name
									,commde_info
									,commde_use
	  								)
	  		VALUES
			  		(
			  		 get_primarycode('commDeNo')
			  		,#{commdeCode}
	  				,#{commCode}
	  				,#{commdeName}
	  				,#{commdeInfo}
	  				,#{commdeUse}
			  		)
		</insert>
  	
  	<delete id="commDeCodeDelete" parameterType="CommCodeVO">
  			DELETE FROM com_commde
  			WHERE commde_no = #{commDeNo}
  	</delete>
  	
  	
  	<!-- select box 실행시 필요한 공통코드 -->
   <select id="searchCommCodeUse" resultType="CommCodeVO">
		  			SELECT  commde_no,
		  					commde_code,
							comm_code,
							commde_name,
							commde_info,
							commde_use
					FROM com_commde
					WHERE comm_code = #{commCode} 
					AND commde_use = 'O'
				ORDER BY commde_no
  	</select>	
  	
  	
  	<!-- eqType만 조회하는 경우 (셀렉트 박스)  -->
  	<select id="selectEquipTypeList" resultType="CommCodeVO">
  			SELECT  commde_code,
					comm_code,
					commde_name,
					commde_info,
					commde_use
		FROM com_commde
        where comm_code = 'EQUIP-TYPE' and commde_use = 'O'
	ORDER BY commde_code 
  	</select>
  	
  		<!-- eqSts만 조회하는 경우 (셀렉트 박스)  -->
  	<select id="selectEquipStsList" resultType="CommCodeVO">
  			SELECT  commde_code,
					comm_code,
					commde_name,
					commde_info,
					commde_use
		FROM com_commde
        where comm_code = '0L' and commde_use = 'O'
	ORDER BY commde_code 
  	</select>
  	
  	
  </mapper>