<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.err.mapper.ErrCodeMapper">
	  	
	 <!-- 불량코드 전체조회 --> 	
	<select id="selectErrCodeList" resultType="ErrCodeVO">
		  	SELECT  err_code,
					err_name,
					err_info
			FROM com_err
		ORDER BY err_code
    </select>
    
    <!-- 불량명 조회 -->
    <select id="searchSelectErrCode" resultType="ErrCodeVO">
    		SELECT  err_code,
					err_name,
					err_info
			FROM com_err
			WHERE err_name LIKE '%' ||#{errName} || '%'
		ORDER BY err_code
		
    </select>  	
  </mapper>
  
  