<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.emp.mapper.EmpInfoMapper">
  	
  	<!-- 사원 전체조회 -->
  	<select id="selectEmpInfoList" resultType="EmpInfoVO">
  		  		SELECT  emp_code,
						emp_name,
						emp_date
						emp_role,
						find_cdnm('0B', emp_role) AS emp_role_name,
						dept_code,
						find_cdnm('DEPT-TYPE', dept_code) AS dept_code_name,
						emp_tel
			FROM com_emp
		ORDER BY emp_code
  	</select>
  	
  	  	<select id="searchSelectEmp" resultType="EmpInfoVO">
			SELECT  e.emp_code,
					e.emp_name,
					e.emp_date
					e.emp_role,
					c.commde_name,
					e.emp_tel
			FROM com_emp e left join com_commde c
                            on(e.dept_code = c.commde_code)
			WHERE  emp_name LIKE '%' || #{empName} || '%'
		ORDER BY emp_code
  	</select>
  	
  	<!-- 사원코드로 사원단건조회 -->
  	<select id="getEmpInfoOne" resultType="EmpInfoVO">
  		select *
  		from com_emp
  		where emp_code = #{empCode}
  	</select>
  	
  	<!-- 사원등록(+) -->
  	<insert id="insertNewEmp" parameterType="EmpInfoVO">
  		INSERT INTO com_emp(
  			emp_code
			, emp_name
			, emp_date
			, emp_tel
			, emp_pw
			, emp_role
			<if test="deptCode != null and !deptCode.equals('')">
			, dept_code
			</if>
  		) VALUES (
  			get_primarycode('empCode')
  			, #{empName}
  			, SYSDATE
  			, #{empTel}
  			, #{empPw}
  			, #{empRole}
  			<if test="deptCode != null and !deptCode.equals('')">
			, #{deptCode}
			</if>
  		)
  	
  	</insert>
  	
  	
  	
  	<update id="updateEmpInfo" parameterType="EmpInfoVO">
  		UPDATE com_emp SET
		  				  emp_name = #{empName}
						, emp_tel = #{empTel}
						<if test="empPw != null and !empPw.equals('')">
						, emp_pw = #{empPw}
						</if>
						, emp_role = #{empRole}
						<if test="deptCode != null and !deptCode.equals('')">
						, dept_code = #{deptCode}
						</if>
		WHERE	emp_code = #{empCode}	
  	</update>
  	
  	
  	<select id="empSelect" resultType="EmpInfoVO">
  		SELECT  emp_code,
						emp_name,
						emp_date,
						emp_role,
						dept_code,
						find_cdnm('0B', emp_role) AS emp_role_name,
						find_cdnm('DEPT-TYPE', dept_code) AS dept_code_name,
						emp_tel
			FROM com_emp
			<where>
				<if test="empName != null and empName != ''">
					AND emp_name LIKE '%' ||  #{empName} || '%'
				</if> 
				<if test="inputDeptList != null and inputDeptList != ''">
					AND dept_code = #{inputDeptList}
				</if> 
				<if test="startDate != null and startDate != ''">
					AND TO_CHAR(emp_date, 'YYYY-MM-DD') <![CDATA[>=]]>#{startDate}
				</if>
				<if test="endDate != null and endDate != ''">
					AND TO_CHAR(emp_date, 'YYYY-MM-DD') <![CDATA[<=]]>#{endDate}
				</if>
			</where>
		ORDER BY emp_code
  	</select>
  </mapper>