<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.emp.mapper.EmpInfoMapper">
  	
  	<!-- 사원 전체조회 -->
  	<select id="selectEmpInfoList" resultType="EmpInfoVO">
  		  		SELECT  e.emp_code,
					e.emp_name,
					e.emp_date,
					e.emp_pw,
					e.emp_role,
					c.commde_name,
					e.emp_tel
			FROM com_emp e left join com_commde c
                            on(e.dept_code = c.commde_code)
		ORDER BY emp_code
  	</select>
  	
  	  	<select id="searchSelectEmp" resultType="EmpInfoVO">
			SELECT  e.emp_code,
					e.emp_name,
					e.emp_date,
					e.emp_pw,
					e.emp_role,
					c.commde_name,
					e.emp_tel
			FROM com_emp e left join com_commde c
                            on(e.dept_code = c.commde_code)
			WHERE  emp_name LIKE '%' || #{empName} || '%'
		ORDER BY emp_code
  	</select>
  	
  	<!-- 사원코드로 사원단건조회 -->
  	<select id="getEmpInfoOne" resultType="EmpInfoVO">
  		select *
  		from com_emp
  		where emp_code = #{empCode}
  	</select>
  </mapper>