<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.mapper.EmpInfoMapper">
  	
  	<!-- 사원 전체조회 -->
  	<select id="selectEmpInfoList" resultType="EmpInfoVO">
	  		SELECT  emp_code,
					emp_name,
					emp_date,
					emp_pw,
					emp_role,
					dept_code,
					dept_name,
					emp_tel
			FROM com_emp
			<where>
			<if test="content != null and search != null">
				#{searchType} LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY emp_code
  	</select>
  	
  </mapper>