<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.test.mapper.TestCodeMapper">
  	<select id="selectTestCodeList" resultType="TestCodeVO">
		  	SELECT  test_code,
					test_name,
					pass_value
			FROM com_test
		ORDER BY test_code
	</select>
	
	<select id="searchSelectTestCode" resultType="TestCodeVO">
		  	SELECT  test_code,
					test_name,
					pass_value
			FROM com_test
			WHERE test_name Like '%' || #{testName} || '%'
		ORDER BY test_code
	</select>
  </mapper>