<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.quality.one.mapper.OneChkMapper">
  	<!-- 마지막 공정 조회  -->
  	<select id="selectLastPrcs" resultType="OneChkVO">
  		SELECT
		    A.TEST_NUM,
		    A.PASS_AMT,
		    A.NON_PASS_AMT,
		    B.PRCS_DIR_DE_CODE,
		    B.PRCS_CODE,
		    B.INPUT_AMT
		FROM
		    PROD_QUALITY A JOIN PRCS_ING B 
		    ON A.PRCS_ING_CODE = B.PRCS_CODE
		WHERE
		    B.PRCS_CODE = (
		        SELECT MAX(PRCS_CODE)
		        FROM PRCS_ING
		    )
  	</select>
  	
  	<!-- 검사 실시 리스트(클릭 상세)  -->
  	<select id="selectOneChkList" resultType="OneChkVO">
  		SELECT A.TEST_NUM
  			   ,A.PRCS_ING_CODE
  			   ,B.TEST_NUM_INFO
  			   ,B.TEST_CODE
  			   ,A.TEST_NUM
  			   ,C.TEST_NAME
  			   ,C.PASS_VALUE
  			   ,B.TEST_RESULT
  			   ,B.PASS_YN
  		FROM prod_quality a 
  		JOIN prod_quality_info b
  			ON(a.test_num = b.test_num)
  			RIGHT JOIN com_test c
  			ON(b.test_code = c.test_code)
  		WHERE a.test_num =#{testNum}
  	
  	</select>
  	
  	<!-- 완제품 품질 등록(수정) -->
  	<update id="OneChkUpdate" parameterType="OneChkVO">
  		UPDATE prod_quality_info SET
  				TEST_RESULT = #{testResult}
  				,PASS_YN = #{passYn}
  		WHERE test_num_info =#{testNumInfo}
  	</update>
  </mapper>