<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.material.in.mapper.MatInMapper">
	<!-- 전체조회 -->
	<select id="selectMatInList" resultType="MatInVO">
		SELECT a.mat_lot mat_lot, a.mat_code mat_code, b.mat_name mat_name, c.act_name act_name, a.mat_in_amt mat_in_amt, d.emp_name emp_name, a.mat_ind mat_ind, a.mat_exd mat_exd 
		FROM mat_in a JOIN com_mat b
			ON(a.mat_code = b.mat_code)
				JOIN com_act c
					ON(a.act_code = c.act_code)
						JOIN com_emp d
							ON(a.emp_code = d.emp_code)
		ORDER BY a.mat_ind DESC
	</select>
	<!-- 검색 -->
	<select id="selectMatInSearch" resultType="MatInVO">
		SELECT a.mat_lot mat_lot, a.mat_code mat_code, b.mat_name mat_name, c.act_name act_name, a.mat_in_amt mat_in_amt, d.emp_name emp_name, a.mat_ind mat_ind, a.mat_exd mat_exd 
		FROM mat_in a JOIN com_mat b
			ON(a.mat_code = b.mat_code)
				JOIN com_act c
					ON(a.act_code = c.act_code)
						JOIN com_emp d
							ON(a.emp_code = d.emp_code)
		<where>
			<if test="materialCode != null and materialCode != ''">
				AND a.mat_code LIKE '%' || #{materialCode} || '%'
			</if>
			<if test="accountCode != null and accountCode != ''">
				AND a.act_code LIKE '%' || #{accountCode} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
				AND a.mat_ind <![CDATA[>=]]> TO_DATE(#{startDate}, 'YYYY-MM-DD')
			</if>
			<if test="endDate != null and endDate != ''">
				AND a.mat_ind <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYY-MM-DD')
			</if>
		</where>
		ORDER BY a.mat_ind DESC
	</select>
	
	<!-- 등록 -->
	
</mapper>