<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.material.in.mapper.MatModalMapper">
	<select id="getMetList" resultType="MatModalVO">
		SELECT mat_code, mat_name, mat_std
		FROM com_mat
	</select>
</mapper>