<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.mat.mapper.MatCodeMapper">
  	
  	<select id="selectMatCodeList" resultType="MatCodeVO">
	  	SELECT  mat_code,
				mat_name,
				mat_unit,
				mat_std,
				mat_safe
		FROM com_mat
		ORDER BY mat_code
	</select>		
	
	<select id="searchMatCode"  resultType="MatCodeVO">
		SELECT  mat_code,
				mat_name,
				mat_unit,
				mat_std,
				mat_safe
		FROM com_mat
		<where>
			<if test="matName != null and matName != ''">
				AND mat_name LIKE '%' || #{matName} || '%'
			</if>
			<if test="matUnit != null and matUnit != ''">
				AND mat_unit = #{matUnit}
			</if>
			<if test="matStd != null and matStd != ''">
				AND mat_std LIKE '%' || #{matStd} || '%'
			</if>
		</where>
		ORDER BY mat_code
	</select>
	
	
	
	<insert id="matCodeInsert" parameterType="MatCodeVO">
				insert into com_mat(
									mat_code,
									mat_name,
									mat_unit,
									mat_std,
									mat_safe
									)
				values(
						get_primarycode('matCode')
						,#{matName}
						,#{matUnit}
						,#{matStd}
						,#{matSafe}
						)
	</insert>
	
	<update id="matCodeUpdate" parameterType="MatCodeVO">
				UPDATE com_mat
				SET mat_name = #{matName},
					mat_unit = #{matUnit},
					mat_std = #{matStd},
					mat_safe = #{matSafe}
				WHERE mat_code = #{matCode}
	</update>
	
	<!-- <delete id="matCodeDelete" parameterType="MatCodeVO">
				DELETE FROM com_mat
				WHERE mat_code = #{matCode}	
	</delete> -->
	<delete id="matCodeDelete" statementType="CALLABLE" parameterType="MatCodeVO">
		{call mat_Delete(
		
		        #{matCode}
		        , #{result, mode=OUT, jdbcType=NUMERIC}
		
		    )}
	</delete>	
  </mapper>