<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.mat.mapper.MatCodeMapper">
  	
  	<select id="selectMatCodeList" resultType="MatCodeVO">
	  	SELECT  m.mat_code,
				m.mat_name,
				m.mat_unit,
				m.mat_std,
				m.mat_safe,
				m.emp_code,
				e.emp_name
		FROM com_mat m left join com_emp e
						ON(m.emp_code = e.emp_Code)
		ORDER BY m.mat_code
	</select>		
	<!-- <foreach collection="inList" item="l" index="index" separator=";" open="" close=" "> -->
	<insert id="matCodeInsert" parameterType="MatCodeVO">
		<foreach collection="list" item="l"  index="index" separator=";" open="DECLARE BEGIN" close="; END;">
				insert into com_mat(
									mat_code,
									mat_name,
									mat_unit,
									mat_std,
									mat_safe,
									emp_code 
									)
				values(
						get_primarycode('matCode')
						,#{l.matName}
						,#{l.matUnit}
						,#{l.matStd}
						,#{l.matSafe}
						,#{l.empCode}	
						)
		 </foreach>
	</insert>
	
	<update id="matCodeUpdate" parameterType="MatCodeVO">
		<foreach collection="list2" item="l"  index="index" separator=";" open="DECLARE BEGIN" close="; END;">
				UPDATE com_mat
				SET mat_name = #{l.matName},
					mat_unit = #{l.matUnit},
					mat_std = #{l.matStd},
					mat_safe = #{l.matSafe},
					emp_code = #{l.empCode}
				WHERE mat_code = #{l.matCode}
		</foreach>
	</update>
	
	<delete id="matCodeDelete" parameterType="MatCodeVO">
			<foreach collection="list3" item="l"  index="index" separator=";" open="DECLARE BEGIN" close="; END;">
				delete from com_mat
				where mat_code = #{l.matCode}
			</foreach>		
	</delete>		
  </mapper>