<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.prcs.plan.mapper.PrcsPlanMapper">
	<!-- 생산계획 조회 -->
	<select id="selectPrcsPlanList" resultType="prcsPlanVO">
		SELECT prcs_plan_code,
			   prcs_plan_name,
			   prcs_plan_date,
			   emp_code,
			   prcs_dir_yn,
			   prcs_start_date,
			   prcs_end_date
		  FROM prcs_plan
		 ORDER BY prcs_plan_code
	</select>

	<!-- 상세생산계획 조회 -->
	<select id="selectPrcsPlanDeList" resultType="prcsPlanVO">
		SELECT prcs_plan_de_code,
			   prcs_plan_code,
			   prod_code,
			   ord_total_amt,
			   prcs_plan_amt,
			   prcs_prio,
			   prcs_dir_amt,
			   prcs_dir_sts,
			   prcs_amt
		  FROM prcs_plan_de
		 WHERE prcs_plan_code = #{prcsPlanCode}
		 ORDER BY prcs_plan_de_code
	</select>
	
	<!-- 생산계획 등록 -->
<!-- 	<insert id="insertPrcsPlan" parameterType="prcsPlanVO"> -->
<!-- 		<selectKey keyProperty="prcsPlanCode" resultType="String" order="BEFORE"> -->
<!-- 			SELECT 'PLAN-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_plan_code, -3)),0) + 1, 3, '0') -->
<!-- 			FROM prcs_plan -->
<!-- 			WHERE SUBSTR(prcs_plan_code, 5, 6) = TO_CHAR(sysdate, 'rrMMdd') -->
<!-- 		</selectKey> -->
<!-- 		INSERT INTO prcs_plan ( -->
<!-- 								prcs_plan_code -->
<!-- 								, prcs_plan_code -->
<!-- 								, prcs_dir_name -->
<!-- 								, prcs_start_date -->
<!-- 								<if test="prcsEndDate != null"> -->
<!-- 								, prcs_end_date -->
<!-- 								</if> -->
<!-- 								, emp_code -->
<!-- 							  ) -->
<!-- 			 VALUES ( -->
<!-- 						#{prcsDirCode} -->
<!-- 						, #{prcsPlanCode} -->
<!-- 						, #{prcsDirName} -->
<!-- 						, #{prcsStartDate} -->
<!-- 						<if test="prcsEndDate != null"> -->
<!-- 						, #{prcsEndDate} -->
<!-- 						</if> -->
<!-- 						, #{empCode} -->
<!-- 					 ) -->
<!-- 	</insert> -->
	

	
	<!-- 생산계획 + 상세생산계획 등록 -->
	<insert id="insertPrcsPlan" parameterType="prcsPlanVO">
		<selectKey keyProperty="prcsPlanCode" resultType="String" order="BEFORE">
			SELECT 'PLAN-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_plan_code, -3)),0) + 1, 3, '0')
			FROM prcs_plan
			WHERE SUBSTR(prcs_plan_code, 5, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		BEGIN
			INSERT INTO prcs_plan (
									prcs_plan_code
									, prcs_plan_code
									, prcs_dir_name
									, prcs_start_date
									<if test="prcsEndDate != null">
									, prcs_end_date
									</if>
									, emp_code
								  )
				 VALUES (
							#{prcsDirCode}
							, #{prcsPlanCode}
							, #{prcsDirName}
							, #{prcsStartDate}
							<if test="prcsEndDate != null">
							, #{prcsEndDate}
							</if>
							, #{empCode}
						)
			<foreach collection="orderList" item="order" index="index" open="" separator=" " close="">
			INSERT INTO prcs_plan_de (
										prcs_plan_de_code
										, prcs_plan_code
										, prod_code
										, ord_total_amt
										, prcs_plan_amt
										<if test="prcsPrio > 0">
										, prcs_prio
										</if>
									 )
            VALUES
           		
					( 
						get_primaryCode('prcsPlanDeCode')
						, #{prcsPlanCode}
						, #{prodCode}
						, #{ordTotalAmt}
						, #{prcsPlanAmt}
						<if test="prcsPrio > 0">
						, #{prcsPrio} 
						</if>
					)
           	</foreach>	
		END;
	</insert>
	
	<!-- 미계획 주문서 조회 -->
	<select id="selectNotPlanOrderList" resultType="orderVO">
		SELECT s.ord_sts, 
			   s.ord_code,
			   s.ord_date, 
			   d.prod_code, 
			   d.prcs_rq_amt, 
			   d.dev_date
		  FROM sales_ord s JOIN sales_ord_de d 
							 ON s.ord_code = d.ord_code
	</select>
	
	
	
<!-- 생산계획 수정 -->
<!-- 생산계획 삭제 -->
	

<!-- 상세생산계획 수정 -->
<!-- 상세생산계획 삭제 -->

</mapper>