<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.app.prcs.plan.mapper.PrcsPlanMapper">
	<!-- 생산계획 조회 -->
	<select id="selectPrcsPlanList" resultType="PrcsPlanVO">
		SELECT prcs_plan_code,
			   prcs_plan_name,
			   prcs_plan_date,
			   emp_code,
			   find_emp_name(emp_code) AS emp_name,
			   find_cdnm('0V', prcs_dir_yn) AS prcs_dir_yn,
			   prcs_start_date,
			   prcs_end_date
		  FROM prcs_plan
		<where>
			<if test="searchPlanName != null">
				AND prcs_plan_name LIKE '%' || #{searchPlanName} || '%'
			</if>
			<if test="startDate != null and !startDate.equals('')">
				AND TO_CHAR(prcs_plan_date, 'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if>
			<if test="endDate != null and !endDate.equals('')">
				AND TO_CHAR(prcs_plan_date, 'YYYY-MM-DD') <![CDATA[<=]]> #{endDate}
			</if>
		</where>
		 ORDER BY prcs_plan_code DESC
	</select>

	<!-- 상세생산계획 조회 -->
	<select id="selectPrcsPlanDeList" resultType="PrcsPlanVO">
		SELECT prcs_plan_de_code,
               prcs_plan_code,
               prod_code,
			   find_prod_name(prod_code) AS prod_name,
			   prcs_rq_amt,
			   prcs_plan_amt,
			   prcs_prio,
			   prcs_dir_amt,
			   find_cdnm('0Q', prcs_dir_sts) AS prcs_dir_sts,
			   prcs_amt
		  FROM prcs_plan_de
		 WHERE prcs_plan_code = #{prcsPlanCode}
		 ORDER BY prcs_plan_de_code
	</select>
	
	
	<!-- 생산계획 등록 --> 
	<insert id="insertPrcsPlan" parameterType="PrcsPlanVO">
		<selectKey keyProperty="prcsPlanCode" resultType="String" order="BEFORE">
			SELECT 'PLAN-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_plan_code, -3)),0) + 1, 3, '0')
			FROM prcs_plan
			WHERE SUBSTR(prcs_plan_code, 6, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_plan (
									prcs_plan_code
									, prcs_plan_name
									, emp_code
									, prcs_start_date
									, prcs_end_date
							   )
				 VALUES (
							#{prcsPlanCode}
							, #{prcsPlanName}
							, #{empCode}
							, #{prcsStartDate}
							, #{prcsEndDate}
						)
	</insert>
	
	<!-- 상세생산계획 등록 --> 
	<insert id="insertPrcsPlanDe" parameterType="PrcsPlanVO">
		<selectKey keyProperty="prcsPlanDeCode" resultType="String" order="BEFORE">
			SELECT 'PLANDE-' || TO_CHAR(sysdate, 'rrMMdd') || LPAD(NVL(MAX(SUBSTR(prcs_plan_de_code, -3)),0) + 1, 3, '0')
			FROM prcs_plan_de
			WHERE SUBSTR(prcs_plan_de_code, 8, 6) = TO_CHAR(sysdate, 'rrMMdd')
		</selectKey>
		INSERT INTO prcs_plan_de (
										prcs_plan_de_code
										, prcs_plan_code
										, prod_code
										, prcs_rq_amt
										, prcs_plan_amt
										<if test="prcsPrio != null">
										, prcs_prio
										</if>
								 )
	             VALUES ( 
							#{prcsPlanDeCode}
							, #{prcsPlanCode}
							, #{prodCode}
							, #{prcsRqAmt}
							, #{prcsPlanAmt}
							<if test="prcsPrio != null">
							, #{prcsPrio} 
							</if>
						)
	</insert >

	<!-- 생산계획 수정 -->
	<update id="updatePrcsPlan" parameterType="PrcsPlanVO">
		UPDATE prcs_plan
		<set>					
			<if test="prcsPlanName != null and !prcsPlanName.equals('')">
				prcs_plan_name = #{prcsPlanName},
			</if>	
			<if test="empCode != null and empCode.equals('')">
				emp_code = #{empCode},
			</if>
			<if test="prcsStartDate != null and !prcsStartDate.equals('')">
				prcs_start_date = #{prcsStartDate},
			</if>
			<if test="prcsEndDate != null and !prcsEndDate.equals('')">
				prcs_end_date = #{prcsEndDate}
			</if>
		</set>
		WHERE prcs_plan_code = #{prcsPlanCode}
	</update>
	
	<!-- 상세생산계획 수정 -->	
	<update id="updatePrcsPlanDe" parameterType="PrcsPlanVO">
		UPDATE prcs_plan_de
		<set>				
			<if test="prcsPlanCode != null and !prcsPlanCode.equals('')">
				prcs_plan_code = #{prcsPlanCode},
			</if>	
			<if test="prodCode != null and !prodCode.equals('')">
				prod_code = #{prodCode},
			</if>	
			<if test="prcsRqAmt >= 0">
				prcs_rq_amt = #{prcsRqAmt},
			</if>
			<if test="prcsPlanAmt >= 0">
				prcs_plan_amt = #{prcsPlanAmt},
			</if>
			<if test="prcsPrio != null">
				prcs_prio = #{prcsPrio}
			</if>
		</set>
		WHERE prcs_plan_de_code = #{prcsPlanDeCode}
	</update>
		
	<!-- 생산계획 삭제 -->
	<delete id="deletePrcsPlan" parameterType="String">
		DELETE FROM prcs_plan
		 WHERE prcs_plan_code = #{prcsPlanCode}
	</delete>
	
	
	
	<!-- 미계획 주문서 조회 -->
	<select id="selectNotPlanOrderList" resultType="OrderVO">
		SELECT s.ord_code, 
			   s.ord_date, 
			   find_act_name(s.act_code) AS act_name, 
			   d.dev_date
		  FROM sales_ord s JOIN sales_ord_de d 
		  					 ON s.ord_code = d.ord_code
		 WHERE s.ord_sts = 'P1'
		 ORDER BY d.dev_date
	</select>
	
	<!-- 미계획 상세 주문서 조회 -->
	<select id="selectNotPlanOrderDeList" resultType="OrderVO">
		SELECT s.ord_code, 
			   d.prod_code,
 			   find_prod_name(d.prod_code) AS prod_name,
			   d.prcs_rq_amt
		  FROM sales_ord s JOIN sales_ord_de d
		                     ON s.ord_code = d.ord_code
		 WHERE d.ord_code = #{ordCode}
	</select>
	
	<!-- 생산계획 등록시 주문서 (미계획 -> 계획 / 계획코드 등록) 수정 -->
	<update id="updateNotPlanOrderList" parameterType="PrcsPlanVO">
		UPDATE sales_ord
		   SET ord_sts = 'P2',
	    	   prcs_plan_code = #{prcsPlanCode}
		 WHERE ord_code = #{ordCode}
	</update>
	
	
	<!-- 생산계획 삭제시 주문서 (계획 -> 미계획 / 계획코드 삭제) 수정 -->
	<update id="UpdatePlanOrderList" parameterType="String">
		{
			CALL PR_UPDATE_ORD_STS(
				#{prcsPlanCode}
			)
		}
	</update>
	

	<!-- 상세생산계획 모두 지시완료시 생산계획 수정 -->
	<update id="updatePlanDirSts" parameterType="String">
		{
			CALL PR_UPDATE_PLAN_STS(
				#{prcsPlanCode}
			)
		}
	</update>
</mapper>