<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="co.yedam.app.common.bom.mapper.BomCodeMapper">
  
	  <!-- bom 전체조회 -->
	  	<select id="selectBomCodeList" resultType="BomCodeVO">
		  		SELECT  b.bom_no,
						b.prod_code,
						b.bom_wdate,
						b.bom_udate,
						b.bom_yn,
						b.bom_prcs_yn,
						c.prod_name
				FROM bom_header b left join com_prod c
		    	ON(b.prod_code=c.prod_code)
	    	ORDER BY b.bom_no
	    	
	  	
	  	</select>
  	
  	<!-- bom 검색 조회  -->
  	  	<select id="searchSelectBom" resultType="BomCodeVO">
		  		SELECT  b.bom_no,
						b.prod_code,
						b.bom_wdate,
						b.bom_udate,
						b.bom_yn,
						b.bom_prcs_yn,
						find_cdnm('0W', bom_prcs_yn) AS bom_prcs_yn_name,
						c.prod_name
				 FROM  bom_header b 
				 join  com_prod c
		    	   ON  (b.prod_code=c.prod_code)
		    	WHERE  c.prod_name LIKE '%' || #{prodName} || '%'
	    	    ORDER  BY b.bom_no
  	
  	</select>
  	
  	<!-- bom상세조회 -->
  	<select id="selectDeBomCodeList" resultType="BomCodeVO">
	  		SELECT  b.bom_code,
					b.prcs_code,
					find_prcs_name(prcs_code) AS prcsName,					
					b.mp_kind,
					find_cdnm('0X',mp_kind) AS kindName,	
					b.mp_code,
					CASE 
				        WHEN SUBSTR(mp_code, 1, 4) = 'MAT-' THEN m.mat_name
				        WHEN SUBSTR(mp_code, 1, 4) = 'PROD' THEN p.prod_name
				        ELSE b.mp_code
    				END AS mpName,
					b.bom_unit,
					b.bom_amt,
					b.bom_no
			FROM bom_detail b LEFT JOIN com_mat m
									ON(b.mp_code = m.mat_code)
							  LEFT JOIN com_prod p
							  		ON(b.mp_code = p.prod_code)
			WHERE b.bom_no = #{bomNo}
  	</select>
  	
  	<insert id="bomCodeInsert" parameterType="BomCodeVO">
  		<selectKey keyProperty="bomNo" resultType="String" order="BEFORE">
  			SELECT 'BNO-' || LPAD((NVL(MAX(SUBSTR(BOM_NO, -4)),0)+1),4,'0')
            FROM BOM_HEADER
  		</selectKey>
  		INSERT INTO bom_header
  							(
  								bom_no,
								prod_code,
								bom_wdate,
								bom_yn,
								bom_prcs_yn
  								
  							)
  		VALUES
		  		(
		  			#{bomNo},
		  			#{prodCode},
		  			sysdate,
		  			#{bomYn},
		  			'W2'
		  		)
  	</insert>
  	
  	<insert id="bomDeCodeInsert" parameterType="BomCodeVO">
  		INSERT INTO  bom_detail
  								(
  									bom_code,
									prcs_code,
									mp_kind,
									mp_code,
									bom_unit,
									bom_amt,
									bom_no
  								)
  		VALUES					
		  		(
		  			get_primarycode('bomCode'),
		  			#{prcsCode},
		  			#{mpKind},
		  			#{mpCode},
		  			#{bomUnit},
		  			#{bomAmt},
		  			#{bomNo}
		  			
		  		)
  	</insert>
  	
  	<update id="updateBom" parameterType="BomCodeVO">
  		UPDATE bom_header SET
								prod_code= #{prodCode},
								bom_udate= sysdate,
								bom_yn= #{bomYn},
								bom_prcs_yn= #{bomPrcsYn}
		WHERE bom_no = #{bomNo}		
  	</update>
  	
  	<update id="updateDeBom" parameterType="BomCodeVO">
  		UPDATE bom_detail SET
								prcs_code=#{prcsCode},
								mp_kind=#{mpKind},
								mp_code=#{mpCode},
								bom_unit=#{bomUnit},
								bom_amt=#{bomAmt}
		WHERE bom_code = #{bomCode}
  	</update>
  	
  	<!-- BOM 헤더 삭제 -->
  	<delete id="deleteBom" parameterType="BomCodeVO">
  		DELETE FROM bom_header
  		WHERE bom_no = #{bomNo}	
  	</delete>
  	
  	<!-- BOM 상세 삭제 -->
  	<delete id="deleteDeBom" parameterType="BomCodeVO">
  		DELETE FROM bom_detail
  		WHERE bom_no = #{bomNo}	
  	</delete>
  	
  	
  	<!-- 차트 test -->
  	<select id="chartTest" resultType="BomCodeVO">
  		select  bom_code,
  				bom_amt
  		from 	bom_detail
  		where 	bom_amt >10
  		order by bom_code
  	</select>
  	
  	
  </mapper>